extends layout

block append head
  meta(property='og:title', content=page.title)
  meta(property='og:site_name', content='Data4America')
  meta(property='og:url', content=locals.url + page.url)
  meta(property='fb:app_id', content='170634933274064')
  meta(property='og:type', content='article')
  meta(property='og:publisher', content=locals.url + '/')
  meta(property='og:image', content=locals.url + page.url + 'thumbnail-256.png')
  meta(property='og:description', content=page.metadata.description)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block content
  article.article
    div.container.content-block
      include author
      div.pull-left.article-thumbnail-wrapper
        if page.metadata.child
          - var thumbnailPath = '../';
        else
          - var thumbnailPath = page.url;
        img.article-thumbnail(src=thumbnailPath + 'thumbnail.png', srcset=thumbnailPath + 'thumbnail.png 1x, ' + thumbnailPath + 'thumbnail-256.png 2x')
      h1= page.title
      div.clearfix
      hr.thin
      p.date
        | Published on: 
        span= moment.utc(page.date).format('YYYY-MM-DD')
      p.author
        mixin author(page.metadata.author)
      section.content!= typogr(page.html).typogrify()

block footer
  div.container.content-block.article-footer-links
    hr.visible-xs(style='margin-top: 0')
    if page.metadata.code
      p
        b #[a(href=page.metadata.code) Fork the code on Github.] 
        | We open source most code in our published stories.
    if page.metadata.data
      p
        b #[a(href=page.metadata.data) Download the original data.] 
        | We open source underlying data sets in our published stories.
    if page.metadata.data || page.metadata.code
      hr
    p
      b #[a(href='http://data4america.org/submit') Submit your own data story.] 
      | We review crowdsourced submissions on a rolling basis.
    p
      b #[a(href='mailto:submit@data4america.org') Have a rebuttal data story?] 
      | Email it to us at submit@data4america.org. We'll distribute it in the footnotes of this story as a "Rebuttal". Our Editorial Board may even even want to publish it as a full article.
    hr
    p
      b #[a(href='http://data4america.org/donate') Donate to Data4America.] 
      | We’re a non-partisan, non-profit media platform bringing Data Journalism to 21st Century Government
  div.container.content-block.share-buttons
    hr.visible-xs(style='margin-top: 0')
    h3.share-buttons-header Share this data story
    ul
      li
        a.btn#share-email(href='mailto:?subject=' + page.title + '&body=' + encodeURI(locals.url + page.url))
          i.fa.fa-envelope
          | Email
      li
        a.btn#share-facebook(data-url=locals.url + page.url)
          i.fa.fa-facebook
          | Share
      li
        a.btn#share-twitter(data-url=locals.url + page.url, data-text='{new data story} ' + page.title)
          i.fa.fa-twitter
          | Tweet
  div.container.content-block
    hr.visible-xs(style='margin-top: 0')
    div.fb-comments(data-href=locals.url + page.url, data-numposts=5, data-width="100%", style="margin: -8px")