extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block social-buttons-top
  li
    div.fb-like(data-href=locals.url+page.url, data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
  li
    a.twitter-share-button(href='https://twitter.com/share', data-url=locals.url+page.url, data-text=page.title, data-via='data4america') Tweet

block content
  article.article
    div.container.content-block
      include author
      h1= page.title
      if page.metadata.author
        p.author
          | #{ 'By ' }
          mixin author(page.metadata.author)
      hr
      section.content!= typogr(page.html).typogrify()

block footer
  div.container.content-block
    if page.metadata.code || page.metadata.data
      if page.metadata.data
        p.data-link
          | #[a(href=page.metadata.data) Download the original data]
      if page.metadata.code
        p.code-link
          | #[a(href=page.metadata.code) Fork the code on Github]
      hr
    p
      a(href=contents.index.url) « Full blog
