extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block social-buttons-top
  li
    div.fb-like(data-href=locals.url+page.url, data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
  li
    a.twitter-share-button(href='https://twitter.com/share', data-url=locals.url+page.url, data-text=page.title, data-via='data4america') Tweet

block content
  article.article
    div.container.content-block
      include author
      div.pull-left.article-thumbnail-wrapper
        img.article-thumbnail(src=page.url + 'thumbnail.png')
      div.article-title
        h1= page.title
        p.author
          | #{ 'By ' }
          mixin author(page.metadata.author)
        p.date
          span= moment.utc(page.date).format('YYYY-MM-DD')
      div.clearfix
      hr
      section.content!= typogr(page.html).typogrify()

block footer
  div.container.content-block
    hr.visible-xs(style='margin-top: 0')
    if page.metadata.code
      p
        b #[a(href=page.metadata.code) Fork the code on Github.] 
        | We open source most code in our published stories.
    if page.metadata.data
      p
        b #[a(href=page.metadata.data) Download the original data.] 
        | We open source underlying data sets in our published stories.
    if page.metadata.data || page.metadata.code
      hr
    p
      b #[a(href='http://data4america.org/submit') Submit your own data story.] 
      | We review crowdsourced submissions on a rolling basis.
    p
      b #[a(href='mailto:submit@data4america.org') Have a rebuttal data story?] 
      | Email it to us at submit@data4america.org. We'll distribute it in the footnotes of this story as a "Rebuttal". Our Editorial Board may even even want to publish it as a full article.
    hr
    p
      b #[a(href='http://data4america.org/donate') Donate to Data4America.] 
      | We’re a non-partisan, non-profit media platform bringing Data Journalism to 21st Century Government
  div.container.content-block()
    div.fb-comments(data-href='http://stories.data4america.org' + page.url, data-numposts=5, data-width="100%", style="margin: -8px")