extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block social-buttons-top
  li
    div.fb-like(data-href=locals.url+page.url, data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
  li
    a.twitter-share-button(href='https://twitter.com/share', data-url=locals.url+page.url, data-text=page.title, data-via='data4america') Tweet

block content
  article.article
    div.container.content-block
      include author
      h1= page.title
      if page.metadata.author
        p.author
          | #{ 'By ' }
          mixin author(page.metadata.author)
      hr
      section.content!= typogr(page.html).typogrify()

block footer
  div.container.content-block
    if page.metadata.code
      p
        b #[a(href=page.metadata.code) Fork the code on Github]
    if page.metadata.data
      p
        b #[a(href=page.metadata.data) Download the original data]
    if page.metadata.data || page.metadata.code
      hr
    p
      b #[a(href='http://data4america.org/submit') Submit your own data story]
    p
      b Have a rebuttal data story? 
      | Email it to us at submit@data4america.org
    hr
    p
      b #[a(href='http://data4america.org/donate') Donate to Data4America]