extends layout

block append head
  meta(property='og:title', content=page.title)
  meta(property='og:site_name', content='Data4America')
  meta(property='og:url', content=locals.url + page.url)
  meta(property='fb:app_id', content='170634933274064')
  meta(property='og:type', content='article')
  meta(property='og:publisher', content=locals.url + '/')
  meta(property='og:image', content=locals.url + page.url + 'thumbnail-256.png')
  meta(property='og:description', content=page.metadata.description)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block content
  article.article.big.ui.segments
    div.ui.segment.dfa-article-header
      div.ui.items
        div.item
          div.image
            if page.metadata.child
              - var thumbnailPath = '../';
            else
              - var thumbnailPath = page.url;
            img(src=thumbnailPath + 'thumbnail.png', srcset=thumbnailPath + 'thumbnail.png 1x, ' + thumbnailPath + 'thumbnail-256.png 2x')
          div.content
            h1.ui.header= page.title
            div.extra Published on: 
              span= moment.utc(page.date).format('MMMM D, YYYY')
      div.dfa-share(style="padding-bottom:1em;")
        div.ui.grey.email.button.circular.icon
          i.icon.mail
        div.ui.facebook.button.circular.icon
          i.ui.facebook.icon
        div.ui.twitter.button.circular.icon
          i.ui.twitter.icon
        a.circular.ui.icon.button.sms.orange(href="javascript:;")
          i.icon-sms

    div.ui.segment
      mixin author(page.metadata.author)

    div.ui.segment
      include author
      section.content
        block actual-content
          div!= typogr(page.html).typogrify()

block footer
  div.ui.segment.article-footer-links
    if page.metadata.code
      p
        b #[a(href=page.metadata.code) Fork the code on Github.] 
        | We open source most code in our published stories.
    if page.metadata.data
      p
        b #[a(href=page.metadata.data) Download the original data.] 
        | We open source underlying data sets in our published stories.
    if page.metadata.data || page.metadata.code
      hr
    p
      b #[a(href='http://data4america.org/submit') Submit your own data story.] 
      | We review crowdsourced submissions on a rolling basis.
    p
      b #[a(href='mailto:submit@data4america.org') Have a rebuttal data story?] 
      | Email it to us at submit@data4america.org. We'll distribute it in the footnotes of this story as a "Rebuttal". Our Editorial Board may even even want to publish it as a full article.
    hr
    p
      b #[a(href='http://data4america.org/donate') Donate to Data4America.] 
      | We’re a non-partisan, non-profit media platform bringing Data Journalism to 21st Century Government

  div.ui.basic.segment.dfa-share
    div.ui.equal.width.grid.stackable
      div.column
        div.ui.grey.email.huge.button.fluid(data-url=locals.url + page.url, data-text=page.title,style="border-radius:0;")
          i.icon.mail
          span.text Email
      div.column
        div.ui.facebook.huge.fluid.button(data-url=locals.url,style="border-radius:0;")
          i.ui.facebook.icon
          span.text Share
      div.column
        div.ui.twitter.fluid.huge.button(data-url=locals.url + page.url, data-text=page.title,style="border-radius:0;")
          i.ui.twitter.icon
          span.text Tweet

  div.ui.segment
    div.fb-comments(data-href=locals.url + page.url, data-numposts=5, data-width="100%", style="margin: -8px")
