doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title=page.title
      meta(property="og:title", content=locals.name)
      meta(property="og:site_name", content="data4america.org")
      meta(property="og:description", content="Gov't + Tech + Data Updates You Won't Want To Miss")
      meta(property="og:image", content="https://data4america.org/img/email-updates.jpg")
      link(rel='icon', href=contents['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml')
      != nap.css('main')
      link(href='/css/email.css', rel='stylesheet', type='text/css')
  body(class=bodyclass)

    div.dimmed.pusher

      header
        block header

          div#dfa-header.ui.borderless.inverted.main.menu.fixed
            div.container
              div.logo.item
                a.logo(href="/")
              a.item.hide(href="/about/") About
              a.item.hide.dfa-btn-subscribe(href="javascript:;") Subscribe
              a.item.hide(href="/") Stories
              div.ui.dropdown.icon.item
                | Menu
                i.big.sidebar.icon
                div.menu
                  a.item(href="/") All Stories
                  a.item(href="/supporters/") Our Supporters
                  a.item(href="/sponsorship/") Sponsorships
                  a.item(href="/about/") About Data4America
                  a.item(href="/unplugged/") Unplugged Podcast
                  a.donate.item(href="/donate/") Donate
                  a.item(href="/upload/") Submit Content
                  a.item(href="http://data.data4america.org/", target="_blank") Submit Data
                  a.item(href="http://git.data4america.org/", target="_blank") Submit Software
                  a.item(href="/request-government-data") Request Data
              div.item.dfa-header-title
              a.item.icon.dfa-header-article-share.fb(data-url=locals.url + (page !== undefined ? page.url : '/'))
                i.icon.facebook
              a.item.icon.dfa-header-article-share.tw(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                i.icon.twitter
              a.item.icon.dfa-header-article-share.em(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                i.icon.mail
              div.right.menu.social-buttons

      div#dfa-subscribe-modal.ui.modal.small
        i.close.icon
        div.content
          div.ui.two.column.grid
            div.column
              h3.ui.header Like us on Facebook
              div.fb-like(data-href='https://www.facebook.com/data4america', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
            div.column
              h3.ui.header Follow us on Twitter
              a.twitter-follow-button(href='https://twitter.com/data4america', data-show-count='true', data-show-screen-name='false') Follow
          div.ui.horizontal.divider OR
          h3.ui.header Send me Data4America stories by email
          div#mc_embed_signup
            form.ui.form.validate#mc-embedded-subscribe-form(action="//data4ameria.us11.list-manage.com/subscribe/post?u=72207b8a0819659d0b69c1f9c&amp;id=219ac0990b" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              div#mc_embed_signup_scroll
                div.field
                  <input type="email" value="" name="EMAIL" placeholder="Your Email Address" class="required email form-control" id="mce-EMAIL">
                div.clear#mce-responses
                  <div class="response text-danger" id="mce-error-response" style="display:none; margin-bottom: 1em"></div>
                  <div class="response text-success" id="mce-success-response" style="display:none; margin-bottom: 1em"></div>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_72207b8a0819659d0b69c1f9c_219ac0990b" tabindex="-1" value=""></div>
                button.ui.button.primary#mc-embedded-subscribe(type="submit" name="subscribe") Subscribe

      div.dfa-email-container(title=page.title)!= page.html

    block js
      != nap.js('main')
      <div id="fb-root"></div>
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js'); fbq('init', '810448618996739'); fbq('track', "PageView");</script>
