extends layout

block content

  include author

  h1.ui.horizontal.divider.header.red(style="margin:2em 0 0.5em") DATA SCIENCE
  h2.ui.header.center.aligned(style="font-weight:300; font-style:italic; margin:0px 0px 1em;") Bringing data science to the understanding of politics
  div.dfa-feed.ui.three.column.stackable.grid
    each article in articles
      if article.metadata.isStandard
        - url = article.metadata.link ? article.metadata.link : article.url
        - ext = article.metadata.link ? true : false
        div.column
          if locals.development || article.metadata.published
            div.dfa-feed-item.article
              a.item-link(href=url, target=ext ? '_blank' : '_self')
                div.item-image
                  img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
                div.item-meta
                  h1.ui.large.header.item-title= article.title
                  div.item-text!= article.metadata.description

              div.item-details
                mixin authorName(article.metadata.author)
                div.ui.bulleted.list
                  if article.metadata.links
                    - var links = article.metadata.links.split(',')
                    each link in links
                      - var texturl = link.split('|')
                      div.item
                        a.ui.basic.label(href=texturl[1], target='_blank')= texturl[0]

                div.item-bottom
                  if article.metadata.originals
                    img.ui.tiny.image.unplugged-image(src="/img/originals.png")  
                  if article.metadata.ugp
                    img.ui.small.image.unplugged-image(src="/img/ugp.png")                    
                  p.item-date= moment.utc(article.date).format('MMMM D, YYYY')

            if article.metadata.isVerified
              div.dfa-approved-image
                span
                  i.icon.checkmark.box.red
                  span.dfa-text
                    | DATA
                    span.f 4
                    | AMERICA
                    
  h1.ui.horizontal.divider.header(style="margin:2em 0 0.5em; color:#008e5c;") DATA VIZ
  h2.ui.header.center.aligned(style="font-weight:300; font-style:italic; margin:0px 0px 1em;") Bringing data visualization to the understanding of politics
  div.dfa-feed.ui.three.column.stackable.grid
    - var lifemaps = articles.filter(function(article){ return article.metadata.isLifemap; })
    - lifemaps.sort(function(a,b){ return parseInt(b.metadata.weight) - parseInt(a.metadata.weight) })
    each article in lifemaps 
      - url = article.metadata.link ? article.metadata.link : article.url
      - ext = article.metadata.link ? true : false
      div.column
        if locals.development || article.metadata.published
          div.dfa-feed-item.lifemap
            a.item-link(href=url, target=ext ? '_blank' : '_self')
              div.item-image
                if article.metadata.featured
                  div.dfa-sponser
                    span AS FEATURED ON
                      img(src="/img/huffington-post-logo.jpg")
                img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
              div.item-meta
                h1.ui.large.header.item-title= article.title

            div.item-details
              mixin authorName(article.metadata.author)
              div(style="font-size: 0.9em; color: #aaa;") LAST EDIT: 
                = moment.utc(article.date).format('MMMM D, YYYY')
              div.item-bottom
                img.ui.tiny.image.lifemap-image(src="/img/lifemap-logo.png")
                p.item-date= moment.utc(article.date).format('MMMM D, YYYY')

          if article.metadata.isVerified
            div.dfa-approved-image
              span
                i.icon.checkmark.box.red
                span.dfa-text
                  | DATA
                  span.f 4
                  | AMERICA

  h1.ui.horizontal.divider.header.orange(style="margin:2em 0 1.5em") PODCAST
  div.dfa-feed.ui.three.column.stackable.grid
    each article in articles
      if article.metadata.isPodcast
        - url = article.metadata.link ? article.metadata.link : article.url
        - ext = article.metadata.link ? true : false
        div.column
          if locals.development || article.metadata.published
            div.dfa-feed-item.podcast
              a.item-link(href=url, target=ext ? '_blank' : '_self')
                div.item-image
                  img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
                div.item-meta
                  div.item-text!= article.metadata.description

              div.item-details
                mixin podcastAuthor(article.metadata.author)
                div.ui.bulleted.list
                  if article.metadata.links
                    - var links = article.metadata.links.split(',')
                    each link in links
                      - var texturl = link.split('|')
                      div.item
                        a.ui.basic.label(href=texturl[1], target='_blank')= texturl[0]
                if article.metadata.wired
                  img.ui.small.image(src='/img/wired-logo.png')

                div.item-bottom
                  if article.metadata.lifemap
                    img.ui.tiny.image.lifemap-image(src="/img/lifemap-logo.png")

                  if article.metadata.unplugged  
                    img.ui.tiny.image.unplugged-image(src="/img/unplugged-logo.png")

                  p.item-date= moment.utc(article.date).format('MMMM D, YYYY')

  h1.ui.horizontal.divider.header.violet(style="margin:2em 0 1.5em") EVENTS
  div.dfa-feed.ui.three.column.stackable.grid

    div.column
      div.dfa-feed-item.event.disable
        a.item-link(href="javascript:;")
          div.item-meta
            h1.ui.large.header.item-title 9/30: Basic Income discussion with Albert Wenger
        div.item-details
          div.item-bottom
            p.item-date= moment.utc('2016-09-30').format('MMMM D, YYYY')

    div.column
      div.dfa-feed-item.event.disable
        a.item-link(href="javascript:;")
          div.item-meta
            h1.ui.large.header.item-title 12/7: Basic Income discussion with Charles Murray
        div.item-details
          div.item-bottom
            p.item-date= moment.utc('2016-12-07').format('MMMM D, YYYY')

    div.column
      div.dfa-feed-item.event.disable
        a.item-link(href="javascript:;")
          div.item-meta
            h1.ui.large.header.item-title 12/11 - Basic Income discussion with Niall Ferguson, Joe Lonsdale, GiveDirectly, and YCombinator
        div.item-details
          div.item-bottom
            p.item-date= moment.utc('2016-12-11').format('MMMM D, YYYY')

    each article in articles
      if article.metadata.isEvent
        - url = article.metadata.link ? article.metadata.link : article.url
        - ext = article.metadata.link ? true : false
        div.column
          if locals.development || article.metadata.published
            div.dfa-feed-item.event
              a.item-link(href=url, target=ext ? '_blank' : '_self')
                div.item-meta
                  h1.ui.large.header.item-title= article.title
                  div.item-text!= article.metadata.description

              div.item-details
                mixin podcastAuthor(article.metadata.author)
                div.ui.bulleted.list
                  if article.metadata.links
                    - var links = article.metadata.links.split(',')
                    each link in links
                      - var texturl = link.split('|')
                      div.item
                        a.ui.basic.label(href=texturl[1], target='_blank')= texturl[0]

                div.item-bottom
                  if !article.metadata.published
                    span.ui.basic.red.label Not Approved
                  p.item-date= moment.utc(article.date).format('MMMM D, YYYY')

            if article.metadata.isVerified
              div.dfa-approved-image
                span
                  i.icon.checkmark.box.red
                  span.dfa-text
                    | DATA
                    span.f 4
                    | AMERICA
