extends layout

block content
  include author
  each article in articles
    article.article.intro
      div.container.content-block
        header
          img.pull-left.article-thumbnail(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x', style='margin-bottom: 1em')
          div.article-title
            h2
              a(href=article.url)= article.title
            p.author
              | #{ 'By ' }
              mixin author(article.metadata.author)
            p.date
              span= moment.utc(article.date).format('YYYY-MM-DD')
        div.clearfix
        section.content
          if article.intro.length > 0
            != typogr(article.intro).typogrify()
          if article.hasMore
            p.more
              a(href=article.url) more

block footer
  div.container.content-block
    p
      if prevPage
        a(href=prevPage.url) « Newer
      else
        a(href='/story/archive') « Archive
      if nextPage
        a(href=nextPage.url) Next page »
