extends layout

block content

  include author
  div.dfa-feed.ui.three.column.stackable.grid
    each article in articles
      div.column
        if locals.development || article.metadata.published
          div.dfa-feed-item
            a.item-link(href=article.url)
              div.item-image
                img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
              div.item-meta
                h1.ui.large.header.item-title= article.title
                div.item-text!= article.metadata.description

                mixin author(article.metadata.author)
                div.extra 
                  span(style="color:#a9a9a9;")= moment.utc(article.date).format('MMMM D, YYYY')


block footer
  div.ui.segment
    p
      if prevPage
        a(href=prevPage.url) « Newer
      else
        | 
        a(href='/archive') « Archive
      if nextPage
        | 
        a(href=nextPage.url, style="float:right;") Next page »
