extends layout

block content

  include author

  .ui.stackable.center.aligned.grid.container
    .fourteen.wide.column
      h2.ui.icon.header(style="color:#CC0505; font-weight:300; font-style:italic;")
        | A non-profit, educational initiative bringing data science to politics

  div.ui.message
    div.header Recent Milestone:
    ol.list
      li We're publishing 
        a(href="http://lifemap.io", target="_blank") Lifemap
        |  on the 
        a(href="http://www.huffingtonpost.com/entry/the-lifemap-of-hillary-clinton-by-data4america_us_57ba0a08e4b07d22cc38a2a2", target="_blank") Huffington Post. 
        | Lifemap is the history of policy and the people who shape it in 100 characters or less.
        
      li We're producing a Podcast called 
        a(href="/unplugged" , target="_blank") Unplugged
        | .
        a(href="http://bigthink.com/" , target="_blank")  BigThink.com 
        | will be our exclusive distributor of our podcast 
        a(href="/unplugged", target="_blank") Unplugged.
        |  They'll push to their 700k+ unique website visitors, 2.4 Million  
        a(href="https://www.facebook.com/BigThinkdotcom", target="_blank") Facebook 
        | fans, and 100,000+ followers on 
        a(href="https://twitter.com/bigthink", target="_blank") Twitter.
        
      li We just finished 
        a(href="/updates/august-2016/", target="_blank")  Season One
        |  at Data4America where, with the help of 
        a(href="/supporters", target="_blank") 15 donors 
        | and 100+ event attendees, we published over 26 pieces of original content. We're now raising support for Season Two. You can help us with a tax-deductible gift 
        a(href="/donate", target="_blank") here.

  h1.ui.horizontal.divider.header.red(style="margin:2em 0 0.5em") DATA SCIENCE
  h2.ui.header.center.aligned(style="font-weight:300; font-style:italic; margin:0px 0px 1em;") Bringing data science to the understanding of politics
  div.dfa-feed.ui.three.column.stackable.grid
    each article in articles
      if article.metadata.isStandard
        - url = article.metadata.link ? article.metadata.link : article.url
        - ext = article.metadata.link ? true : false
        div.column
          if locals.development || article.metadata.published
            div.dfa-feed-item.article
              if article.metadata.isVerified
                img.ui.image.small.item-approved-badge(src='/img/badge.png')
              a.item-link(href=url, target=ext ? '_blank' : '_self')
                div.item-image
                  img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
                div.item-meta
                  h1.ui.large.header.item-title= article.title
                  div.item-text!= article.metadata.description

              div.item-details
                mixin authorName(article.metadata.author)
                div.ui.bulleted.list
                  if article.metadata.links
                    - var links = article.metadata.links.split(',')
                    each link in links
                      - var texturl = link.split('|')
                      div.item
                        a.ui.basic.label(href=texturl[1], target='_blank')=texturl[0]
                div.item-bottom
                  if article.metadata.originals
                    img.ui.tiny.image.unplugged-image(src="/img/originals.png")
                  if article.metadata.ugp
                    img.ui.small.image.unplugged-image(src="/img/ugp.png")
                  p.item-date=moment.utc(article.date).format('MMMM D, YYYY')

    div.column
      div.ui.red.segment.inverted(style="margin:0 auto;")
        div#dfa-email-content.ui.form
          h2.ui.header.center.aligned.inverted(style="font-weight:300; font-size: 1.5em; font-style:italic;")  Join a bunch of others and have new Data4America content emailed to you.
          div.field
            input(type='email', name='email', placeholder='Email Address')
          button.ui.button.orange.fluid Send Me Content

        h2#subscribed-message.ui.header.center.aligned(style="font-weight:300; font-style:italic; display:none; margin:0px;") 
          i.send.icon
          | Thank you for subscribing.
          
      div.ui.segment.inverted(style="background-color:#004f81; margin:1em auto 0px; border-radius:0px;")
        h1.ui.header.center.aligned(style="font-size:2.5em; font-style:italic; margin-top:0px;") Help us reach our $250,000 Season Two fundraising goal.
        h2.ui.header.center.aligned(style="font-size:1.5em; font-weight:300; margin-top:0px;") Make a tax-deductible donation.
        
      div.ui.segment(style="margin:0px auto;border-radius:0px;border:0px;box-shadow:none; text-align:center;")
        h1.ui.header.center.aligned(style="font-size:2.5em; font-style:italic; margin-top:0px;") Quick Donate.
        h2.ui.header.center.aligned(style="font-size:1.5em; font-weight:300; margin-top:0px;") Chip and get a D4A laptop sticker!
        
        div.ui.equal.width.center.aligned.padded.grid
          div.row(style="padding: 0.5em 0px;")
            div.column
              button.ui.fluid.button.red.huge.dfa-btn-donate $25
            div.column
              button.ui.fluid.button.red.huge.dfa-btn-donate $50
          div.row(style="padding: 0.5em 0px;")
            div.column
              button.ui.fluid.button.red.huge.dfa-btn-donate $100
            div.column
              button.ui.fluid.button.red.huge.dfa-btn-donate $250
              
          div.row(style="padding: 0.5em 0px;")
            div.column
              button.ui.fluid.button.blue.huge.dfa-btn-donate(style="background-color:#004f81;") Donate


      //- div.ui.segment(style="max-width:258px; margin:3em auto 1em;")
      //-   a(href="https://www.facebook.com/data4america", target="_blank").ui.facebook.button.fluid
      //-     i.facebook.icon
      //-     |   Like us on Facebook
      //-   a(href="https://www.twitter.com/data4america", target="_blank").ui.twitter.button.fluid(style="margin-top:1em;")
      //-     i.twitter.icon
      //-     |   Follow us on Twitter
      //- 
      //-   div.ui.divider
      //-   h2.ui.header.center.aligned(style="font-size: 1.2em; font-weight:300; font-style:italic; margin-top:0px;") Help us reach our $250,000 funding goal by December 30th. Make a tax-deductible donation.
      //-   button.dfa-btn-donate.large.ui.button.red.fluid Donate          

  h1.ui.horizontal.divider.header.orange(style="margin:2em 0 0.5em") UNPLUGGED
  h2.ui.header.center.aligned(style="font-weight:300; font-style:italic; margin:0px 0px 1em;")  A podcast exploring the intersection of government, technology, and the future.
  div.dfa-feed.ui.three.column.stackable.grid

    each article in articles
      if article.metadata.isPodcast
        - url = article.metadata.link ? article.metadata.link : article.url
        - ext = article.metadata.link ? true : false
        div.column(class=article.metadata.columnSize ? 'column-width' : '' )
          if locals.development || article.metadata.published
            div.dfa-feed-item.podcast
              a.item-link(href=url, target=ext ? '_blank' : '_self')
                div.item-image
                  img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')

              div.item-link
                div.item-meta
                  div.item-text!= article.metadata.description

              div.item-details
                mixin podcastAuthor(article.metadata.author)
                div.ui.bulleted.list
                  if article.metadata.links
                    - var links = article.metadata.links.split(',')
                    each link in links
                      - var texturl = link.split('|')
                      div.item
                        a.ui.basic.label(href=texturl[1], target='_blank')= texturl[0]
                          if article.metadata.wired
                            img.ui.small.mini(src='/img/wired-logo.png', style="margin-left:5px; width: 70px !important; height: 15px !important;")

                div.item-bottom
                  if article.metadata.lifemap
                    img.ui.tiny.image.lifemap-image(src="/img/lifemap-logo.png")

                  if article.metadata.unplugged  
                    img.ui.tiny.image.unplugged-image(src="/img/unplugged-logo.png")

                  p.item-date= moment.utc(article.date).format('MMMM D, YYYY')

  h1#dfa-data-viz-header.ui.horizontal.divider.header(style="margin:2em 0 0.5em; color:#008e5c;") DATA VIZ
  h2.ui.header.center.aligned(style="font-weight:300; font-style:italic; margin:0px 0px 1em;") Bringing data visualization to the understanding of politics

  div#dfa-data-viz-tab.ui.sticky

    div.ui.fluid.selection.dropdown
      input(type='hidden', name='data')
      i.dropdown.icon
      div.default.text All
      div.menu(style="max-height:auto")
        a.item.selected(category="0") All
        a.item(category="1") Presidential Candidates
        a.item(category="2") Politicians
        a.item(category="3") Business Leaders
          
    div.ui.four.item.fluid.pointing.huge.grey.inverted.menu(style="margin:0px;")
      a.item(category="0").active All
      a.item(category="1") Presidential Candidates
      a.item(category="2") Politicians
      a.item(category="3") Business Leaders
      
      
  div#dfa-feed-viz.dfa-feed.ui.three.column.stackable.grid
    - var lifemaps = articles.filter(function(article){ return article.metadata.isLifemap; })
    - lifemaps.sort(function(a,b){ return parseInt(b.metadata.weight) - parseInt(a.metadata.weight) })
    each article in lifemaps 
      - url = article.metadata.link ? article.metadata.link : article.url
      - ext = article.metadata.link ? true : false
      div.column(category=(article.metadata.category == 'Presidential Candidate' ? "1" : (article.metadata.category == 'Politicians' ? "2" : "3" )))
        if locals.development || article.metadata.published
          div.dfa-feed-item.lifemap
            if article.metadata.isVerified
              img.ui.image.small.item-approved-badge(src='/img/badge.png')
            a.item-link(href=url, target=ext ? '_blank' : '_self')
              div.item-image
                //- if article.metadata.featured
                //-   div.dfa-sponser
                //-     span AS FEATURED ON
                //-       img(src="/img/huffington-post-logo.jpg")
                img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
              div.item-meta
                h1.ui.large.header.item-title
                  span(style="color:grey;") Lifemap: 
                  = article.title

            div.item-details
              mixin authorName(article.metadata.author)
              div.item-bottom
                img.ui.tiny.image.lifemap-image(src="/img/lifemap-logo.png")
                p.item-date LAST EDIT: 
                  = moment.utc(article.metadata.lastEdit).format('MMMM D, YYYY')


  h1.ui.horizontal.divider.header.violet(style="margin:2em 0 1.5em") LIVE
  h2.ui.header.center.aligned(style="font-weight:300; font-style:italic; margin:0px 0px 1em;") Fireside chats, roundtable discussions, and live events to explore government in the 21st Century.
  div.dfa-feed.ui.three.column.stackable.grid

    div(style="display: block; width: 100%; text-align: center; margin:2em 0px 0px;")
      h1.ui.header Upcoming Events 
      div.ui.segment(style="border-radius:0px; border:0px; box-shadow:none; font-size:1.1em; font-weight:300;")
       p We have several events brewing around education, housing, foreign policy, and cybersecurity. We're looking for partners, sponsors, and speakers. You can help us lift these off with speaker recommendations and sponsor introductions. Send to  
         a(href="mailto:chris@data4america.org") chris@data4america.org
         
    div(style="display: block; width: 100%; text-align: center; margin:2em 0px 0px;")
      h1.ui.header Past Events 

    div.column
      div.dfa-feed-item.event
        div.item-link(href="javascript:;")
          div.item-meta
            div.item-text 
              | 6/8/16: Discussion with 
              a(target="_blank" href="https://www.twitter.com/kimmaicutler") Kim-Mai Cutler
              |  and 
              a(target="_blank" href="https://twitter.com/Scott_Wiener") Scott Wiener 
              |  on housing.
              
        div.item-details
          span.author
            | Hosted by: 
            b
              span  Kim-Mai Cutler
              a(href='https://twitter.com/kimmaicutler', target='_blank', style='color:#4099FF;')
                i.ui.twitter.icon(src='/img/mini-logos/twitter.png')
          
          p.item-text(style="height:auto; margin:0px; font-size:1em;")
            a(href='/unplugged/live-scott-kim', target='_blank')
              | Learn More
          
          div.item-bottom
            img.ui.tiny.image.dfa-live-image(src='/img/d4a-live-logo.png')
            p.item-date= moment.utc('2016-08-16').format('MMMM D, YYYY')

    div.column
      div.dfa-feed-item.event
        div.item-link(href="javascript:;")
          div.item-meta
            div.item-text 
              | 6/8/16: Discussion with 
              a(target="_blank" href="https://www.twitter.com/bgmasters") Blake Masters
              |  and  
              a(target="_blank" href="https://twitter.com/rabois") Keith Rabois
              |  on Trump, cybersecurity, and D.C./Silicon Valley.
        div.item-details
          span.author
            | Hosted by: 
            b
              span  Blake Masters
              a(href='https://twitter.com/bgmasters', target='_blank', style='color:#4099FF;')
                i.ui.twitter.icon(src='/img/mini-logos/twitter.png')
                
          p.item-text(style="height:auto; margin:0px; font-size:1em;")      
            a(href='/unplugged/live-keith-blake', target='_blank')
              | Learn More
            
          div.item-bottom
            img.ui.tiny.image.dfa-live-image(src='/img/d4a-live-logo.png')
            p.item-date= moment.utc('2016-08-16').format('MMMM D, YYYY')
                    
    div.column
      div.dfa-feed-item.event
        div.item-link(href="javascript:;")
          div.item-meta
            div.item-text 9/30: Basic Income discussion with 
              a(target="_blank" href="https://www.twitter.com/albertwenger") Albert Wenger
        div.item-details
          span.author
            | Hosted by: 
            b
              span  Kim-Mai Cutler
              a(href='https://twitter.com/kimmaicutler', target='_blank', style='color:#4099FF;')
                i.ui.twitter.icon(src='/img/mini-logos/twitter.png')
                
          p.item-text(style="height:auto; margin:0px; font-size:1em;")
            a(href='/unplugged/live-albert-wenger', target='_blank')
              | Learn More
                  
          div.item-bottom
            img.ui.tiny.image.dfa-live-image(src='/img/d4a-live-logo.png')
            p.item-date= moment.utc('2016-08-16').format('MMMM D, YYYY')

    div.column
      div.dfa-feed-item.event
        div.item-link(href="javascript:;")
          div.item-meta
            div.item-text 12/7: Basic Income discussion with 
              a(target="_blank" href="https://www.twitter.com/charlesmurray") Charles Murray
        div.item-details
          span.author
            | Hosted by: 
            b
              span  Katie Bieber
              a(href='https://twitter.com/katiebiber', target='_blank', style='color:#4099FF;')
                i.ui.twitter.icon(src='/img/mini-logos/twitter.png')
          
          p.item-text(style="height:auto; margin:0px; font-size:1em;")      
            a(href='http://joinlincoln.org/events/2016/innovation-automation-and-future-of-work', target='_blank')
              | Learn More
            
          div.item-bottom
            img.ui.tiny.image.dfa-live-image(src='/img/d4a-live-logo.png')
            p.item-date= moment.utc('2016-08-16').format('MMMM D, YYYY')

    div.column
      div.dfa-feed-item.event
        div.item-link(href="javascript:;")
          div.item-meta
            div.item-text 12/11 - Basic Income discussion with 
              a(target="_blank" href="https://www.twitter.com/nfergus") Niall Ferguson
              | , 
              a(target="_blank" href="https://www.twitter.com/jtlonsdale") Joe Lonsdale
              | , 
              a(target="_blank" href="https://www.twitter.com/ycombinator") YCombinator
              | , and 
              a(target="_blank" href="https://www.twitter.com/Give_Directly") GiveDirectly
                
        div.item-details
          span.author
            | Hosted by: 
            b
              span  Kim-Mai Cutler
              a(href='https://twitter.com/kimmaicutler', target='_blank', style='color:#4099FF;')
                i.ui.twitter.icon(src='/img/mini-logos/twitter.png')
                
          p.item-text(style="height:auto; margin:0px; font-size:1em;")
            a(href='http://joinlincoln.org/events/2016/man-vs-machine', target='_blank')
              | Learn More
            
          div.item-bottom
            img.ui.tiny.image.dfa-live-image(src='/img/d4a-live-logo.png')
            p.item-date= moment.utc('2016-08-16').format('MMMM D, YYYY')
