extends layout

block content

  include author
  each article in articles
    if locals.development || article.metadata.published
      article.article.ui.segments
        div.ui.segment.dfa-article-header
          div.ui.items
            div.item
              div.image
                img(src=article.url + 'thumbnail.png', srcset=article.url + 'thumbnail.png 1x, ' + article.url + 'thumbnail-256.png 2x')
              div.content
                h1.ui.header
                  a(href=article.url).article-title-link= article.title
                div.extra Published on: 
                  span= moment.utc(article.date).format('MMMM D, YYYY')

        div.ui.segment
          mixin author(article.metadata.author)

        div.ui.segment
          if article.intro.length > 0
            != typogr(article.intro).typogrify()
          if article.hasMore
            p.more
              a(href=article.url) more

block footer
  div.ui.segment
    p
      if prevPage
        a(href=prevPage.url) « Newer
      else
        a(href='/archive') « Archive
      if nextPage
        a(href=nextPage.url) Next page »
