doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='icon', href=contents['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml')
      != nap.css('main')
  body(class=bodyclass)
    header
      block header
        div.header-bar
          div.logo-wrapper
            div.dropdown.top-menu
              button.btn.dropdown-toggle.hamburger(data-toggle='dropdown')
                i.fa.fa-bars
              ul.dropdown-menu
                li
                  a(href='/') Stories
                li
                  a(href='/about/') About
                li
                  a(href='/team/') Our Team
                li
                  a(href='http://data4america.org/donate') Donate
                li
                  a(href='http://data4america.org/upload') Submit Content
                li
                  a(href='http://datahub.io/organization/data4america') Data Sets
                li
                  a(href='https://github.com/Data4America') GitHub
            a(href=contents.index.url)
              img.logo(src=contents.img['logo.png'].url)
            div.pull-right.social-buttons
              block social-buttons-top
                div.social-button
                  button.btn#subscribe-button(data-toggle='modal' data-target='#subscribe-modal')
                    i.fa.fa-envelope
                    | Subscribe
                div.social-button
                  div.fb-like(data-href='http://data4america.org/', data-layout='button', data-action='like', data-show-faces='false', data-share='false')
                div.social-button
                  a.twitter-follow-button(href='https://twitter.com/data4america', data-show-count='false', data-show-screen-name='false') Follow
        div.header-background
    div.modal.fade#subscribe-modal
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4.modal-title Subscribe to the Data4America mailing list
          div.modal-body
            div#mc_embed_signup
              form.validate#mc-embedded-subscribe-form(action="//data4ameria.us11.list-manage.com/subscribe/post?u=72207b8a0819659d0b69c1f9c&amp;id=219ac0990b" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
                div#mc_embed_signup_scroll
                  div.form-group.mc-field-group
                    label(for='mce-EMAIL') Email Address
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                  div.clear#mce-responses
                    <div class="response text-danger" id="mce-error-response" style="display:none; margin-bottom: 1em"></div>
                    <div class="response text-success" id="mce-success-response" style="display:none; margin-bottom: 1em"></div>
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_72207b8a0819659d0b69c1f9c_219ac0990b" tabindex="-1" value=""></div>
                  button.btn.btn-primary#mc-embedded-subscribe(type="submit" name="subscribe") Subscribe
    div#content
      block content
        div.container
          h2 Welcome to zombocom!
      footer
        block footer
    div.footer-floating
      a.btn.btn-danger(href='http://data4america.org/donate')
        | Donate
      span
        | Help 
        span.footer-blue DATA
        span.footer-red 4
        span.footer-blue AMERICA 
        | bring data science to government.
  != nap.js('main')
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='LNAME';ftypes[3]='text';fnames[2]='AMOUNT';ftypes[2]='number';fnames[4]='DONATETO';ftypes[4]='text';fnames[6]='TSHIRT';ftypes[6]='text';fnames[7]='FACEBOOK';ftypes[7]='url';fnames[8]='TWITTER';ftypes[8]='url';fnames[9]='LINKEDIN';ftypes[9]='url';fnames[5]='ADDRESS';ftypes[5]='text';fnames[10]='ID';ftypes[10]='text';fnames[11]='DT';ftypes[11]='text';fnames[12]='ANON';ftypes[12]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>