doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      block metatags
        meta(property="og:title", content=locals.name)
      meta(property="og:site_name", content="data4america.org")
      meta(property="og:description", content="Bringing Data Science to the understanding of Politics")
      block metaImage
        meta(property="og:image", content="https://data4america.org/img/postcard-front.jpg")

      link(rel='icon', href=contents['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml')
      link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
      != nap.css('main')


  body(class=bodyclass)

    div.nothing
    div.dimmed.pusher

      header
        block header

          div#masthead
            div.ui.large.secondary.menu
              div.ui.container
                div.item
                  div.ui.logo.shape
                    img.ui.image.small(src="/img/logo-large.png")
                a.view-ui.item
                  i.sidebar.icon
                  |  Menu

                div.right.menu
                  a.item(href="/about/") About
                  a.item(href="/donate/", style="color:#CC0505;") Donate
                  a.item(href="/podcast/") Podcast
                  a.item(href="http://lifemap.io") Lifemap

            div.ui.large.secondary.menu.mobile
              div.item
                div.ui.logo.shape
                  img.ui.image.small(src="/img/logo-large.png")
              div.right.menu
                a.item
                  i.grid.layout.large.red.icon

            div#dfa-slogan
              div Bringing Data Science to the understanding of Politics


          div#fixed-share-btn
            a.fixed-btn.ui.huge.primary.button
              i.plus.icon
            div.ui.flowing.popup.top.left.transition.hidden
              p.ui.header Connect with
                span.dfa-text
                  |  D
                  span.f 4
                  | A

              div.fb-like(data-href='https://www.facebook.com/data4america', data-layout='button_count', data-action='like', data-size='large', data-show-faces='true')
              div.ui.divider

              a.twitter-follow-button(href='https://twitter.com/data4america', data-size='large', data-show-count='false') Follow @data4america
              div.ui.divider

              div.ui.red.fluid.button.subscribe
                i.send.outline.icon
                | Email Subscribe

          #dfa-subscribe-modal.ui.small.modal
            i.close.icon
            div.ui.header.center.aligned E-Mail Subscribe to
              span.dfa-text
                |  DATA
                span.f 4
                | AMERICA

            div#mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='//data4ameria.us11.list-manage.com/subscribe/post?u=72207b8a0819659d0b69c1f9c&id=219ac0990b', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                #mc_embed_signup_scroll
                  .mc-field-group
                    label(for='mce-EMAIL')
                      | Email Address  
                      span.asterisk *
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  div(style='position: absolute; left: -5000px;', aria-hidden='true')
                    input(type='text', name='b_72207b8a0819659d0b69c1f9c_219ac0990b', tabindex='-1', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

          div#dfa-menu-floating.ui.inverted.icon.right.pointing.dropdown
            i.big.sidebar.icon
            div.menu
              a.item(href="/") All Stories
              a.item(href="/syndicated-posts") Syndicated Posts
              a.item(href="/updates") What's New
              a.item(href="/press") Press
              a.item(href="/supporters/") Our Supporters
              a.item(href="/sponsorship/") Sponsorships
              a.item(href="/about/") About Data4America
              a.item(href="/unplugged/") Unplugged Podcast
              a.donate.item(href="/donate/") Donate
              a.item(href="/upload/") Submit Content
              a.item(href="http://data.data4america.org/", target="_blank") Submit Data
              a.item(href="http://git.data4america.org/", target="_blank") Submit Software
              a.item(href="/request-government-data") Request Data

          div#dfa-header.ui.borderless.inverted.main.menu.fixed
            div.container
              div.logo.item
                a.logo(href="/")
              a.item(href="/about/") About
              a.item.dfa-btn-subscribe(href="javascript:;") Subscribe
              a.item(href="/") Stories
              div.ui.dropdown.icon.item
                | Menu
                i.big.sidebar.icon
                div.menu
                  a.item(href="/") All Stories
                  a.item(href="/syndicated-posts") Syndicated Posts
                  a.item(href="/updates") What's New
                  a.item(href="/press") Press
                  a.item(href="/supporters/") Our Supporters
                  a.item(href="/sponsorship/") Sponsorships
                  a.item(href="/about/") About Data4America
                  a.item(href="/unplugged/") Unplugged Podcast
                  a.donate.item(href="/donate/") Donate
                  a.item(href="/upload/") Submit Content
                  a.item(href="http://data.data4america.org/", target="_blank") Submit Data
                  a.item(href="http://git.data4america.org/", target="_blank") Submit Software
                  a.item(href="/request-government-data") Request Data
              div.item.dfa-header-title
              a.item.icon.dfa-header-article-share.fb(data-url=locals.url + (page !== undefined ? page.url : '/'))
                i.icon.facebook
              a.item.icon.dfa-header-article-share.tw(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                i.icon.twitter
              a.item.icon.dfa-header-article-share.em(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                i.icon.mail
              div.right.menu.social-buttons

          div#dfa-menu.ui.four.item.main.menu
            div.ui.text.container
              a.item(href="/about/") ABOUT
              a.item(href="/donate/", style="color:#CC0505; font-weight:bold;") DONATE
              div.ui.dropdown.item
                | PODCASTS
                i.dropdown.icon(style="margin-left: 0.4em;")
                div.menu
                  a.item(href="/unplugged/episode-2-ramez-naam")
                    img.ui.avatar.left.floated.image(src="/img/unplugged-rameez.jpg")
                    | Session 1: Ramez Naam
                    div(style="font-size: 0.85em; padding-top: 0.3em; color: #999;") Hosted by: Chris McCoy
                  a.item(href="/unplugged/episode-3-michael-gibson")
                    img.ui.avatar.left.floated.image(src="/img/unplugged-michael.jpg")
                    | Session 2: Michael Gibson 
                    div(style="font-size: 0.85em; padding-top: 0.3em; color: #999;") Hosted by: Chris McCoy
                  a.item(href="/unplugged/live-keith-blake")
                    img.ui.avatar.left.floated.image(src="/img/live-rabois-masters-600.jpg")
                    | Live: Keith Rabois
                    div(style="font-size: 0.85em; padding-top: 0.3em; color: #999;") Hosted by: Blake Masters
                  a.item(href="/unplugged/live-scott-kim")
                    img.ui.avatar.left.floated.image(src="/img/live-weiner-cutler-600.jpg")
                    | Live: Scott Wiener
                    div(style="font-size: 0.85em; padding-top: 0.3em; color: #999;") Hosted by: Kim-Mai Cutler
                  a.item(href="/unplugged/live-gary-johnson")
                    img.ui.avatar.left.floated.image(src="/img/unplugged-garyjohnson-800.jpg")
                    | Live: Gary Johnson
                    div(style="font-size: 0.85em; padding-top: 0.3em; color: #999;") Hosted by: Chris McCoy
              div.ui.right.dropdown.item.lifemap
                | LIFEMAP
                i.dropdown.icon(style="margin-left: 0.4em;")
                div.menu
                  a.item(href="http://lifemap.io/hillaryclinton/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/hillaryclinton/age-68.jpg")
                    img.badge(src="/img/huffpost-logo.png")
                    p Hillary Clinton <br / > 
                      span Pres. Candidate, Democratic Party
                  a.item(href="http://lifemap.io/donaldtrump/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/donald-trump.jpg")
                    p Donald Trump <br / > 
                      span Pres. Candidate, Republican Party
                  a.item(href="http://lifemap.io/garyjohnson/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/garyjohnson/age-63.jpg")
                    p Gary Johnson <br / > 
                      span Pres. Candidate, Libertarian Party
                  a.item(href="http://lifemap.io/jillstein/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/jillstein/age-66.jpg")
                    p Jill Stein <br / > 
                      span Pres. Candidate, Green Party
                  a.item(href="http://lifemap.io/mikepence")
                    img.ui.avatar.image(src="http://lifemap.io/img/mikepence/age-53.jpg")
                    p Mike Pence <br / >
                      span VP Nominee, Republican Party
                  a.item(href="http://lifemap.io/timkaine")
                    img.ui.avatar.image(src="http://lifemap.io/img/timkaine/age-58.jpg")
                    p Tim Kaine <br / >
                      span VP Nominee, Democratic Party
                  a.item(href="http://lifemap.io/garyjohnson/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/garyjohnson/age-63.jpg")
                    p Gary Johnson <br / > 
                      span Pres. Candidate, Libertarian Party
                  a.item(href="http://lifemap.io/ben-carson/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/ben-carson.jpg")
                    p Ben Carson <br />
                      span Pres. Candidate, Republican Party
                  a.item(href="http://lifemap.io/berniesanders/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/bernie-sanders.jpeg")
                    img.badge(src="/img/huffpost-logo.png")
                    p Bernie Sanders <br />
                      span Pres. Candidate, Democratic Party
                  a.item(href="http://lifemap.io/marcorubio/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/marco-rubio.jpg")
                    p Marco Rubio <br />
                      span Pres. Candidate, Republican Party
                  a.item(href="http://lifemap.io/randpaul/", target="_blank")
                    img.ui.avatar.image(src="https://pbs.twimg.com/profile_images/681152691461042177/_PrgDgFA.jpg")
                    p Rand Paul <br />
                      span Pres. Candidate, Republican Party
                  a.item(href="http://lifemap.io/markcuban/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/mark-cuban.jpg")
                    p Mark Cuban <br />
                      span Owner, Dallas Mavericks
                  a.item(href="http://lifemap.io/steveballmer/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/steveballmer.png")
                    p Steve Ballmer <br />
                      span Owner, Los Angeles Clippers
                  a.item(href="http://lifemap.io/sherylsandberg/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/sheryl-sandberg.jpg")
                    img.badge(src="/img/huffpost-logo.png")
                    p Sheryl Sandberg <br />
                      span Chief Operating Officer, Facebook
                  a.item(href="http://lifemap.io/marcbenioff/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/marcbenioff.jpg")
                    p Marc Benioff <br />
                      span Chairman & CEO, Salesforce
                  a.item(href="http://lifemap.io/reidhoffman/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/reidhoffman/age-49.jpg")
                    p Reid Hoffman <br />
                      span Co-founder & Chairman, LinkedIn
                  a.item(href="http://lifemap.io/ariannahuffington")
                    img.ui.avatar.image(src="http://lifemap.io/img/ariannahuffington/age-66.jpg")
                    p Arianna Huffington <br />
                      span Co-founder/Editor-in-chief, Huffington Post
                  a.item(href="http://lifemap.io/larryellison")
                    img.ui.avatar.image(src="http://lifemap.io/img/larryellison/age-74.jpg")
                    p Larry Ellison <br />
                      span Co-founder & CEO, Orcale

      div#dfa-content
        div.ui.container
          block content
          block footer

      div.ui.container.text(style="margin-bottom:80px;")

        div#dfa-menu-footer.ui.four.item.main.menu
          a.item(href="/about/") ABOUT
          a.item(href="/donate/") DONATE
          div.ui.dropdown.item
            | PODCASTS
            i.dropdown.icon(style="margin-left: 0.4em;")
            div.menu
              a.item(href="/unplugged/episode-1-greg-ferenstein")
                img.ui.avatar.image(src="/img/unplugged-gregferenstein.jpg")
                | Session 1: Greg Ferenstein
              a.item(href="/unplugged/episode-2-ramez-naam")
                img.ui.avatar.image(src="/img/unplugged-rameez.jpg")
                | Session 2: Ramez Naam
              a.item(href="/unplugged/episode-3-michael-gibson")
                img.ui.avatar.image(src="/img/unplugged-michael.jpg")
                | Session 3: Michael Gibson
          div.ui.right.dropdown.item.lifemap
            | LIFEMAP
            i.dropdown.icon(style="margin-left: 0.4em;")
            div.menu
              a.item(href="http://lifemap.io/hillaryclinton/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/hillaryclinton/age-68.jpg")
                img.badge(src="/img/huffpost-logo.png")
                p Hillary Clinton <br / > 
                  span Pres. Candidate, Democratic Party
              a.item(href="http://lifemap.io/donaldtrump/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/donald-trump.jpg")
                p Donald Trump <br / > 
                  span Pres. Candidate, Republican Party
              a.item(href="http://lifemap.io/garyjohnson/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/garyjohnson/age-63.jpg")
                p Gary Johnson <br / > 
                  span Pres. Candidate, Libertarian Party
              a.item(href="http://lifemap.io/jillstein/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/jillstein/age-66.jpg")
                p Jill Stein <br / > 
                  span Pres. Candidate, Green Party
              a.item(href="http://lifemap.io/mikepence")
                img.ui.avatar.image(src="http://lifemap.io/img/mikepence/age-53.jpg")
                p Mike Pence <br / >
                  span VP Nominee, Republican Party
              a.item(href="http://lifemap.io/timkaine")
                img.ui.avatar.image(src="http://lifemap.io/img/timkaine/age-58.jpg")
                p Tim Kaine <br / >
                  span VP Nominee, Democratic Party
              a.item(href="http://lifemap.io/ben-carson/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/ben-carson.jpg")
                p Ben Carson <br />
                  span Pres. Candidate, Republican Party
              a.item(href="http://lifemap.io/berniesanders/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/bernie-sanders.jpeg")
                img.badge(src="/img/huffpost-logo.png")
                p Bernie Sanders <br />
                  span Pres. Candidate, Democratic Party
              a.item(href="http://lifemap.io/marcorubio/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/marco-rubio.jpg")
                p Marco Rubio <br />
                  span Pres. Candidate, Republican Party
              a.item(href="http://lifemap.io/randpaul/", target="_blank")
                img.ui.avatar.image(src="https://pbs.twimg.com/profile_images/681152691461042177/_PrgDgFA.jpg")
                p Rand Paul <br />
                  span Pres. Candidate, Republican Party
              a.item(href="http://lifemap.io/markcuban/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/mark-cuban.jpg")
                p Mark Cuban <br />
                  span Owner, Dallas Mavericks
              a.item(href="http://lifemap.io/steveballmer/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/steveballmer.png")
                p Steve Ballmer <br />
                  span Owner, Los Angeles Clippers
              a.item(href="http://lifemap.io/sherylsandberg/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/sheryl-sandberg.jpg")
                img.badge(src="/img/huffpost-logo.png")
                p Sheryl Sandberg <br />
                  span Chief Operating Officer, Facebook
              a.item(href="http://lifemap.io/marcbenioff/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/marcbenioff.jpg")
                p Marc Benioff <br />
                  span Chairman & CEO, Salesforce
              a.item(href="http://lifemap.io/reidhoffman/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/reidhoffman/age-49.jpg")
                p Reid Hoffman <br />
                  span Co-founder & Chairman, LinkedIn
              a.item(href="http://lifemap.io/ariannahuffington")
                img.ui.avatar.image(src="http://lifemap.io/img/ariannahuffington/age-66.jpg")
                p Arianna Huffington <br />
                  span Co-founder/Editor-in-chief, Huffington Post
              a.item(href="http://lifemap.io/larryellison")
                img.ui.avatar.image(src="http://lifemap.io/img/larryellison/age-74.jpg")
                p Larry Ellison <br />
                  span Co-founder & CEO, Orcale

        div.ui.divider

        h3.ui.header(style="line-height: 1.4em; text-align: center;")
          | Help 
          span.d4a Data
            span.f(style="color:#CC0001") 4
            | America 
          |  publish Editorial Board-approved data science and data visualization about politics. 
          a.dfa-btn-donate(href="javascript:;") Make a donation.
          
        div#dfa-logo-footer
          
        div#dfa-as-seen-in
          div.as-seen-in-header
            p AS SEEN ON
          div.ui.three.column.grid.stackable.middle.aligned
            div.column.wired
              a(target="_blank", href=" https://www.facebook.com/chrisamccoy/posts/10105494115270858")
                img(src="/img/wired-logo.png")
                
            div.column.huffington-post
              a(target="_blank", href="http://www.huffingtonpost.com/entry/the-lifemap-of-hillary-clinton-by-data4america_us_57ba0a08e4b07d22cc38a2a2")
                img(src="/img/huffington-post-logo.png")
              
            div.column.facebook-live
              a(target="_blank", href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/")
                img(src="/img/facebook-live-logo.png")

      div#dfa-footer(style="display:none;")
        h3.ui.header
          a.ui.red.button.donate.dfa-btn-donate Donate 
          span.d4a Help 
            span.footer-blue DATA
            span.footer-red.f 4
            span.footer-blue AMERICA 
            | bring data science to politics.

      div#dfa-unplugged-player
        div.ui.container
          div.ui.grid
            div.nine.wide.column
              div.ui.horizontal.divided.list
                div.item
                  img.ui.avatar.image(src="/img/unplugged-gregferenstein.jpg")
                  div.content
                    div.header Greg Ferenstein
                    div.description Unplugged: Episode #1
            div.one.wide.column
              div.controls
                i.big.icons
                  i.notched.circle.loading.icon.olive
                i.big.lf-play.play.icon.olive
                i.big.lf-pause.pause.icon.olive
            div.five.wide.column
              div.progress-bar
                div.bar
                  div.progress
            div.one.wide.column
              div.time 0:00

      div#dfa-donate-modal.ui.modal(style="min-height:1200px;")
        i.close.icon
        div.content
          div.body-text

    block js
      != nap.js('main')
      <div id="fb-root"></div>
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js'); fbq('init', '810448618996739'); fbq('track', "PageView");</script>
      
