doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      block metatags
        meta(property="og:title", content=locals.name)
      meta(property="og:site_name", content="data4america.org")
      meta(property="og:description", content="Bringing Data Science to the understanding of Politics")
      block metaImage
        meta(property="og:image", content="https://data4america.org/img/postcard-front.jpg")

      link(rel='icon', href=contents['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml')
      link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
      != nap.css('main')


  body(class=bodyclass)

    div.nothing
    div.dimmed.pusher

      header
        block header

          div#masthead
            div.ui.large.secondary.menu.desktop-menu
              div.ui.container(style="position: relative;")
                a.item.logo(href="/")
                  img.ui.image.small(src="/img/logo-large.png")
                a.dfa-menu-item.view-ui.item(data-menu="dfa-menu-menu")
                  i.sidebar.icon
                  |  Menu
                if page
                  div.dfa-menu-item.view-ui.item.title-item
                    p=page.title
                      a.dfa-header-article-share.fb(data-url=locals.url + (page !== undefined ? page.url : '/'))
                        i.icon.facebook.inverted
                      a.dfa-header-article-share.tw(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                        i.icon.twitter.inverted
                      a.dfa-header-article-share.em(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                        i.icon.mail.inverted

                div.right.menu
                  a.item(href="/about/") About
                  a.item(href="/updates/2016-update/") Our Latest
                  a.item(href="/donate/", style="color:#CC0505;") Donate
                  a.dfa-menu-item.item(data-menu="dfa-podcast-menu") Podcast
                    i.angle.down.icon
                  a.dfa-menu-item.item(data-menu="dfa-lifemap-menu") Lifemap
                    i.angle.down.icon

                div#dfa-menu-menu.ui.segment.view-ui-menu
                  div.ui.three.column.divided.grid
                    div.column
                      div.ui.secondary.vertical.menu
                        a.item(href="/about/") About
                        a.item(href="/about/") Team
                        a.item(href="/updates") What's New
                        a.item(href="/supporters/") Our Supporters
                        a.donate.item(href="/donate/") Donate
                    div.column
                      div.ui.secondary.vertical.menu
                        a.item(href="/subscribe/") Subscribe
                        a.item(href="/unplugged/") Unplugged Podcast
                        a.item(href="http://lifemap.io") Lifemap
                        a.item(href="/request-government-data") Request Data
                        a.item(href="/press") Press  
                    div.column
                      div.ui.secondary.vertical.menu       
                        //- a.item(href="http://git.data4america.org/", target="_blank") Submit Software
                        a.item(href="/syndicated-posts") Syndicated Posts
                        a.item(href="/sponsorship/") Sponsorships
                        a.item(href="/contact") Contact 

                div#dfa-lifemap-menu.ui.segment.view-ui-menu
                  div.ui.three.column.divided.grid
                    div.column
                      div.ui.secondary.vertical.menu
                        .ui.link.items
                          a.item(href="http://lifemap.io/hillaryclinton/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/hillaryclinton/age-68.jpg')
                            .middle.aligned.content
                              .header Hillary Clinton
                              .meta
                                span.price Pres. Candidate, Democratic Party

                          a.item(href="http://lifemap.io/donaldtrump/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/donald-trump.jpg')
                            .middle.aligned.content
                              .header Donald Trump
                              .meta
                                span.price Pres. Candidate, Republican Party

                          a.item(href="http://lifemap.io/garyjohnson/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/garyjohnson/age-63.jpg')
                            .middle.aligned.content
                              .header Gary Johnson
                              .meta
                                span.price Pres. Candidate, Libertarian Party
                                
                          a.item(href="http://lifemap.io/jillstein/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/jillstein/age-66.jpg')
                            .middle.aligned.content
                              .header Jill Stein
                              .meta
                                span.price Pres. Candidate, Green Party
                                
                          a.item(href="http://lifemap.io/mikepence")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/mikepence/age-53.jpg')
                            .middle.aligned.content
                              .header Mike Pence 
                              .meta
                                span.price VP Nominee, Republican Party
                                
                          a.item(href="http://lifemap.io/timkaine")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/timkaine/age-58.jpg')
                            .middle.aligned.content
                              .header Tim Kaine 
                              .meta
                                span.price VP Nominee, Democratic Party

                    div.column
                      div.ui.secondary.vertical.menu
                        .ui.link.items
                          a.item(href="http://lifemap.io/ben-carson/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/ben-carson.jpg')
                            .middle.aligned.content
                              .header Ben Carson 
                              .meta
                                span.price Pres. Candidate, Republican Party
                                
                          a.item(href="http://lifemap.io/berniesanders/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/bernie-sanders.jpeg')
                            .middle.aligned.content
                              .header Bernie Sanders 
                              .meta
                                span.price Pres. Candidate, Democratic Party
                                
                          a.item(href="http://lifemap.io/marcorubio/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/marco-rubio.jpg')
                            .middle.aligned.content
                              .header Marco Rubio 
                              .meta
                                span.price Pres. Candidate, Republican Party
                                
                          a.item(href="http://lifemap.io/randpaul/")
                            .ui.tiny.circular.image
                              img(src='https://pbs.twimg.com/profile_images/681152691461042177/_PrgDgFA.jpg')
                            .middle.aligned.content
                              .header Rand Paul 
                              .meta
                                span.price Pres. Candidate, Republican Party
                                
                          a.item(href="http://lifemap.io/markcuban/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/mark-cuban.jpg')
                            .middle.aligned.content
                              .header Mark Cuban  
                              .meta
                                span.price Owner, Dallas Mavericks
                                
                          a.item(href="http://lifemap.io/steveballmer/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/steveballmer.png')
                            .middle.aligned.content
                              .header Steve Ballmer   
                              .meta
                                span.price Owner, Los Angeles Clippers
                                
                    div.column
                      div.ui.secondary.vertical.menu
                        .ui.link.items
                                
                          a.item(href="http://lifemap.io/sherylsandberg/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/sheryl-sandberg.jpg')
                            .middle.aligned.content
                              .header Sheryl Sandberg  
                              .meta
                                span.price Chief Operating Officer, Facebook
                                
                          a.item(href="http://lifemap.io/marcbenioff/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/marcbenioff.jpg')
                            .middle.aligned.content
                              .header Marc Benioff  
                              .meta
                                span.price Chairman & CEO, Salesforce
                                
                          a.item(href="http://lifemap.io/reidhoffman/")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/reidhoffman/age-49.jpg')
                            .middle.aligned.content
                              .header Reid Hoffman  
                              .meta
                                span.price Co-founder & Chairman, LinkedIn
                                
                          a.item(href="http://lifemap.io/ariannahuffington")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/ariannahuffington/age-66.jpg')
                            .middle.aligned.content
                              .header Arianna Huffington   
                              .meta
                                span.price Co-founder/Editor-in-chief,
                              .meta
                                span.price Huffington Post
                                
                          a.item(href="http://lifemap.io/larryellison")
                            .ui.tiny.circular.image
                              img(src='http://lifemap.io/img/larryellison/age-74.jpg')
                            .middle.aligned.content
                              .header Larry Ellison    
                              .meta
                                span.price Co-founder & CEO, Orcale
                          
                div#dfa-podcast-menu.ui.segment.view-ui-menu
                  div.ui.three.column.divided.grid
                    div.column
                      div.ui.secondary.vertical.menu
                        .ui.link.items
                          a.item(href="/unplugged/episode-2-ramez-naam")
                            .ui.tiny.circular.image
                              img(src='/img/unplugged-rameez.jpg')
                            .middle.aligned.content
                              .header Session 1: Ramez Naam
                              .meta
                                span.price Hosted by: Chris McCoy
                                
                          a.item(href="/unplugged/episode-3-michael-gibson")
                            .ui.tiny.circular.image
                              img(src='/img/unplugged-michael.jpg')
                            .middle.aligned.content
                              .header Session 2: Michael Gibson 
                              .meta
                                span.price Hosted by: Chris McCoy
                                
                          a.item(href="/unplugged/sam-wang")
                            .ui.tiny.circular.image
                              img(src='/img/unplugged-samwang-600.jpg')
                            .middle.aligned.content
                              .header LIVE: Dr. Sam Wang
                              .meta
                                span.price Hosted by: Patrick Ruffini - Chris McCoy
                                
                          a.item(href="/unplugged/live-man-vs-machine")
                            .ui.tiny.circular.image
                              img(src='/img/live-man-vs-machine-600.jpg')
                            .middle.aligned.content
                              .header LIVE: Man Vs Machine
                              .meta
                                span.price Hosted by: Kim-Mai Cutler - Lincoln Network
                                
                    div.column
                      div.ui.secondary.vertical.menu
                        .ui.link.items
                          a.item(href="/unplugged/live-keith-blake")
                            .ui.tiny.circular.image
                              img(src='/img/live-rabois-masters-600.jpg')
                            .middle.aligned.content
                              .header Live: Keith Rabois
                              .meta
                                span.price Hosted by: Blake Masters
                                
                          a.item(href="/unplugged/live-scott-kim")
                            .ui.tiny.circular.image
                              img(src='/img/live-weiner-cutler-600.jpg')
                            .middle.aligned.content
                              .header Live: Scott Wiener 
                              .meta
                                span.price Hosted by: Kim-Mai Cutler
                                
                          a.item(href="/unplugged/live-bradley-tusk")
                            .ui.tiny.circular.image
                              img(src='/img/unplugged-bradley-tusk-600.jpg')
                            .middle.aligned.content
                              .header LIVE: Bradley Tusk
                              .meta
                                span.price Hosted by: Chris McCoy
                          
                                
                    div.column
                      div.ui.secondary.vertical.menu        
                        .ui.link.items
                          a.item(href="/unplugged/live-gary-johnson")
                            .ui.tiny.circular.image
                              img(src='/img/unplugged-garyjohnson-800.jpg')
                            .middle.aligned.content
                              .header Live: Gary Johnson
                              .meta
                                span.price Hosted by: Chris McCoy  
                                
                          a.item(href="/unplugged/live-albert-wenger")
                            .ui.tiny.circular.image
                              img(src='/img/unplugged-header-albertwenger-600.jpg')
                            .middle.aligned.content
                              .header Roundtable: Albert Wenger
                              .meta
                                span.price Hosted by: Kim-Mai Cutler  
                                
                          a.item(href="/unplugged/live-keith-semil")
                            .ui.tiny.circular.image
                              img(src='/img/live-keith-semil-600.jpg')
                            .middle.aligned.content
                              .header Transcript: Keith Rabois
                              .meta
                                span.price Hosted by: Semil Shah
      

            div.ui.large.secondary.menu.mobile
              a.item.logo(href="/")
                img.ui.image.small(src="/img/logo-large.png")
              div.right.menu
                a.item.nav-link.update
                  i.refresh.red.icon
                a.item.nav-link
                  i.content.red.icon

            div.nav-mob.nav-mob-update(style="top:0px;")
              iframe(src="/updates/2016-update-simple", style="width:100%; height:100%;", frameborder="0")
              //- h2#august-2016.ui.dividing.header.inverted
              //-   a(href="/updates/2016-update/", target="_blank") Updates - August 2016
              //- 
              //- a.text(href="/updates/2016-update/", target="_blank")
              //-   span 1/ WIRED magazine covered our Facebook LIVE and Unplugged with Governor Gary Johnson. We were joined by Data4America supporter Cyan Banister. Here's the full interview.
              //- 
              //-   span 2/ We launched our Podcast called Unplugged. 
              //- 
              //-   span 3/ We turned LIVE into a podcast
              //- 
              //-   span 4/ All podcasts are fully transcribed. 
              //- 
              //-   span 5/ We’ve grown our team to 25+! 
              //- 
              //-   span 6/ Our Editorial Board published “One Job, One Dot: Every job in America, on a map”. 
              //- 
              //-   span We opened sourced the code, the data, and instructions for re-creation. 
              //- 
              //-   span 7/ Join our invite-only Content Network for an opportunity to get published by the Data4America Editorial Board. 
              //- 
              //-   span If published, we’ll syndicate you to our social media, through email, through Huffington Post, and more. 
            
            div.nav-mob.nav-mob-menu.ui.menu.stackable.inverted
              a.item(href="/about/") About
              //- a.item(href="/syndicated-posts") Syndicated Posts
              a.item(href="/team/") Team
              a.item(href="/updates") What's New
              a.item(href="/supporters/") Our Supporters
              a.donate.item(href="/donate/", style="background:#cc0001;width:100% !important;") Donate
              a.item(href="/data/") Open Data Sets
              //- a.item(href="/sponsorship/") Sponsorships
              a.item(href="/upload/") Submit Content
              //- a.item(href="http://data.data4america.org/", target="_blank") Submit Data
              //- a.item(href="http://git.data4america.org/", target="_blank") Submit Software
              a.item(href="/request-government-data") Request Data
              a.item(href="/contact") Contact
            
              div.nav-header.ui.header.inverted.center.aligned Lifemap
              div.nav-slider.lifemap-slider
                div.ui.card
                  a.image(href="http://lifemap.io/hillaryclinton/")
                    img(src='http://lifemap.io/img/hillaryclinton/age-68.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/hillaryclinton/") Hillary Clinton
                    
                div.ui.card
                  a.image(href="http://lifemap.io/donaldtrump/")
                    img(src='http://lifemap.io/img/donald-trump.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/donaldtrump/") Donald Trump
            
                div.ui.card
                  a.image(href="http://lifemap.io/garyjohnson/")
                    img(src='http://lifemap.io/img/garyjohnson/age-63.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/garyjohnson/") Gary Johnson
                  
                div.ui.card
                  a.image(href="http://lifemap.io/jillstein/")
                    img(src='http://lifemap.io/img/jillstein/age-66.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/jillstein/") Jill Stein
                    
                div.ui.card
                  a.image(href="http://lifemap.io/mikepence")
                    img(src='http://lifemap.io/img/mikepence/age-53.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/mikepence") Mike Pence
                    
                div.ui.card
                  a.image(href="http://lifemap.io/timkaine")
                    img(src='http://lifemap.io/img/timkaine/age-58.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/timkaine") Tim Kaine
            
                div.ui.card
                  a.image(href="http://lifemap.io/ben-carson/")
                    img(src='http://lifemap.io/img/ben-carson.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/ben-carson/") Ben Carson
                  
                div.ui.card
                  a.image(href="http://lifemap.io/berniesanders/")
                    img(src='http://lifemap.io/img/bernie-sanders.jpeg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/berniesanders/") Bernie Sanders
                  
                div.ui.card
                  a.image(href="http://lifemap.io/marcorubio/")
                    img(src='http://lifemap.io/img/marco-rubio.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/marcorubio/") Marco Rubio
                  
                div.ui.card
                  a.image(href="http://lifemap.io/randpaul/")
                    img(src='https://pbs.twimg.com/profile_images/681152691461042177/_PrgDgFA.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/randpaul/") Rand Paul
                    
                div.ui.card
                  a.image(href="http://lifemap.io/markcuban/")
                    img(src='http://lifemap.io/img/mark-cuban.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/markcuban/") Mark Cuban
                    
                div.ui.card
                  a.image(href="http://lifemap.io/steveballmer/")
                    img(src='http://lifemap.io/img/steveballmer.png')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/steveballmer/") Steve Ballmer
                    
                div.ui.card
                  a.image(href="http://lifemap.io/sherylsandberg/")
                    img(src='http://lifemap.io/img/sheryl-sandberg.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/sherylsandberg/") Sheryl Sandberg
            
                div.ui.card
                  a.image(href="http://lifemap.io/marcbenioff/")
                    img(src='http://lifemap.io/img/marcbenioff.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/marcbenioff/") Marc Benioff
                  
                div.ui.card
                  a.image(href="http://lifemap.io/reidhoffman/")
                    img(src='http://lifemap.io/img/reidhoffman/age-49.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/reidhoffman/") Reid Hoffman
                  
                div.ui.card
                  a.image(href="http://lifemap.io/ariannahuffington")
                    img(src='http://lifemap.io/img/ariannahuffington/age-66.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/ariannahuffington") Arianna Huffington
                  
                div.ui.card
                  a.image(href="http://lifemap.io/larryellison")
                    img(src='http://lifemap.io/img/larryellison/age-74.jpg')
                  div.content
                    a.header.center.aligned(href="http://lifemap.io/larryellison") Larry Ellison
                    
              div.nav-header.ui.header.inverted.center.aligned Unplugged
              div.nav-slider.unplugged-slider
                div.ui.card
                  a.image(href="/unplugged/episode-2-ramez-naam")
                    img(src='/img/unplugged-rameez.jpg')
                  div.content
                    a.header.center.aligned(href="/unplugged/episode-2-ramez-naam") Ramez Naam
                    
                div.ui.card
                  a.image(href="/unplugged/episode-3-michael-gibson")
                    img(src='/img/unplugged-michael.jpg')
                  div.content
                    a.header.center.aligned(href="/unplugged/episode-3-michael-gibson") Michael Gibson
            
                div.ui.card
                  a.image(href="/unplugged/live-keith-blake")
                    img(src='/img/live-rabois-masters-600.jpg')
                  div.content
                    a.header.center.aligned(href="/unplugged/live-keith-blake") Keith Blake
                  
                div.ui.card
                  a.image(href="/unplugged/live-scott-kim")
                    img(src='/img/live-weiner-cutler-600.jpg')
                  div.content
                    a.header.center.aligned(href="/unplugged/live-scott-kim") Scott Kim
                    
                div.ui.card
                  a.image(href="/unplugged/live-gary-johnson")
                    img(src='/img/unplugged-garyjohnson-800.jpg')
                  div.content
                    a.header.center.aligned(href="/unplugged/live-gary-johnson") Gary Johnson
              
              div.item(style="height:auto;")
                h4.ui.header.inverted.center.aligned
                  | Help 
                  span.d4a Data
                    span.f(style="color:#CC0001") 4
                    | America 
                  |  publish Editorial Board-approved data science and data visualization about politics. 
                  a.dfa-btn-donate(href="javascript:;") Make a donation.                    
                    
              div.item
                a(href="http://facebook.com/data4america", target="_blank").ui.icon.button.fluid
                  i.facebook.large.icon
                a(href="https://twitter.com/data4america", target="_blank").ui.icon.button.fluid
                  i.twitter.large.icon
                a(href="https://www.linkedin.com/company/data4america", target="_blank").ui.icon.button.fluid
                  i.linkedin.large.icon
                a(href="https://github.com/Data4America", target="_blank").ui.icon.button.fluid
                  i.github.large.icon
                
              div.item 
                h4.ui.header.center.aligned.inverted(style="display: block; width: 100%;") ©2016 Data4America. All Rights Reserved
              
          div#fixed-share-btn
            //- div.ui.vertical.buttons
            //-   div.ui.facebook.huge.icon.button
            //-     div.fb-like(data-href='https://www.facebook.com/data4america', data-layout='box_count', data-action='like', data-size='small', data-show-faces='true')
            //-   button.ui.twitter.huge.icon.button(style="padding:0px;")
            //-     a.twitter-follow-button(href='https://twitter.com/data4america', data-size='large', data-show-count='false', data-show-screen-name="false")
            //-   button.ui.red.huge.icon.button.subscribe
            //-     i.send.outline.icon
            a.fixed-btn.ui.huge.red.icon.button(style="margin:0px;")
              i.plus.icon
            div.ui.flowing.popup.top.left.transition.hidden
              p.ui.header Connect with
                span.dfa-text
                  |  D
                  span.f 4
                  | A
            
              div.fb-like(data-href='https://www.facebook.com/data4america', data-layout='button_count', data-action='like', data-size='large', data-show-faces='true')
              div.ui.divider
            
              a.twitter-follow-button(href='https://twitter.com/data4america', data-size='large', data-show-count='false') Follow @data4america
              div.ui.divider
            
              div.ui.red.fluid.button.subscribe
                i.send.outline.icon
                | Email Subscribe

          #dfa-subscribe-modal.ui.small.modal
            i.close.icon
            div.ui.header.center.aligned E-Mail Subscribe to
              span.dfa-text
                |  DATA
                span.f 4
                | AMERICA

            div#mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='//data4ameria.us11.list-manage.com/subscribe/post?u=72207b8a0819659d0b69c1f9c&id=219ac0990b', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                #mc_embed_signup_scroll
                  .mc-field-group
                    label(for='mce-EMAIL')
                      | Email Address  
                      span.asterisk *
                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                  #mce-responses.clear
                    #mce-error-response.response(style='display:none')
                    #mce-success-response.response(style='display:none')
                  div(style='position: absolute; left: -5000px;', aria-hidden='true')
                    input(type='text', name='b_72207b8a0819659d0b69c1f9c_219ac0990b', tabindex='-1', value='')
                  .clear
                    input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

      div#dfa-content
        div.ui.container(style="position:initial;")
          block content
          block footer

        div.ui.container.text(style="margin-bottom:80px; position:initial;")

          div#dfa-logo-footer

          div#dfa-as-seen-in
            div.as-seen-in-header
              p AS SEEN ON
            div.ui.three.column.grid.stackable.middle.aligned
              div.column.wired
                a(target="_blank", href=" https://www.facebook.com/chrisamccoy/posts/10105494115270858")
                  img(src="/img/wired-logo.png")

              div.column.huffington-post
                a(target="_blank", href="http://www.huffingtonpost.com/entry/the-lifemap-of-hillary-clinton-by-data4america_us_57ba0a08e4b07d22cc38a2a2")
                  img(src="/img/huffington-post-logo.png")

              div.column.facebook-live
                a(target="_blank", href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/")
                  img(src="/img/facebook-live-logo.png")
                  
          div#dfa-donate-footer.body-text.donate-wrapper
          
          div#dfa-supporters.ui.segments(style="display:none;")
            div.ui.segment
              h1.ui.header.center.aligned How Data4America is Funded
              div.ui.divider
              p Just as America was built up by its founding mothers and fathers, Data4America is coming to life through donations from its founding supporters.
              p
                a(href="#learn-more") Learn more
                |  about our donors. 
                a.dfa-btn-donate(href="javascript:;") Donate
                |  today.

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/george-washington.jpg")
                    div.content
                      div.header George Washington
                      div.description $5,000,000
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/martha-washington.jpg")
                    div.content
                      div.header Martha Washington
                      div.description ($1,000,000 - $4,999,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/abigail-adams.jpg")
                    div.content
                      div.header Abigail Adams
                      div.description ($500,000 - $999,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/john-adams.jpg")
                    div.content
                      div.header John Adams
                      div.description ($250,000 - $499,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/thomas-jefferson.jpg")
                    div.content
                      div.header Thomas Jefferson
                      div.description ($50,000 - $249,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/benjamin-franklin.jpg")
                    div.content
                      div.header Benjamin Franklin
                      div.description ($25,000 - $49,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                     div.content
                       | Cyan Banister 
                       a(href="https://twitter.com/cyantist", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/deborah-read-franklin.jpg")
                    div.content
                      div.header Deborah Read Franklin
                      div.description ($10,000 - $24,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                     div.content
                       | Chris McCoy  
                       a(href="http://twitter.com/chrisamccoy", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")
                       | and Ciara Viehweg  
                       a(href="https://www.linkedin.com/in/ciaraviehweg", target="_blank")
                         i.ui.icon.linkedin(style="color:#0077B5;")
                       br
                       | AWS startups
                       a(href="http://twitter.com/AWSstartups", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")


            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/mercy-otis-warren.jpg")
                    div.content
                      div.header Mercy Otis Warren
                      div.description ($5,000 - $9,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                     div.content
                       | Bobby Goodlatte
                       a(href="https://twitter.com/rsg", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/james-madison.jpg")
                    div.content
                      div.header James Madison
                      div.description ($1,000 - $4,999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                       | Lincoln Initiative 
                       a(href="https://twitter.com/joinlincoln", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/samuel-adams.jpg")
                    div.content
                      div.header Samuel Adams
                      div.description ($500 - $999)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                     div.content
                       | Sam Penrose and family 
                       a(href="http://twitter.com/sampenrose", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")
                       br
                       | Craig and Cathy Viehweg

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/thomas-paine.jpg")
                    div.content
                      div.header Thomas Paine
                      div.description ($100 - $499)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                     div.content
                       | Caileens.com 
                       a(href="http://caileens.com", target="_blank")
                         i.ui.icon.world
                       br
                       | Elm Audio 
                       a(href="http://www.elmaudio.com", target="_blank")
                         i.ui.icon.world
                       br
                       | Kyle Wiley 
                       a(href="http://twitter.com/KWiley1", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/patrick-henry.jpg")
                    div.content
                      div.header Patrick Henry
                      div.description ($50 - $99)
              div.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list

            div.ui.horizontal.segments(style="background:#fff;")
              div.ui.segment(style="width:60%;")
                div.ui.items
                  div.item
                    div.image
                      img(src="/img/avatars/alexander-hamilton.jpg")
                    div.content
                      div.header Alexander Hamilton
                      div.description ($10 - $49)
              div#learn-more.ui.segment(style="width:40%;")
                div.ui.relaxed.divided.list
                  div.item
                     div.content
                       | Ben Basche 
                       a(href="https://twitter.com/basche42", target="_blank")
                         i.ui.icon.twitter(style="color:#0084B4;")

      //- div#dfa-footer(style="display:none;")
      //-   h3.ui.header
      //-     a.ui.red.button.donate.dfa-btn-donate Donate 
      //-     span.d4a Help 
      //-       span.footer-blue DATA
      //-       span.footer-red.f 4
      //-       span.footer-blue AMERICA 
      //-       | bring data science to politics.

      div#dfa-unplugged-player
        div.ui.container
          div.ui.grid
            div.nine.wide.column
              div.ui.horizontal.divided.list
                div.item
                  img.ui.avatar.image(src="/img/unplugged-gregferenstein.jpg")
                  div.content
                    div.header Greg Ferenstein
                    div.description Unplugged: Episode #1
            div.one.wide.column
              div.controls
                i.big.icons
                  i.notched.circle.loading.icon.olive
                i.big.lf-play.play.icon.olive
                i.big.lf-pause.pause.icon.olive
            div.five.wide.column
              div.progress-bar
                div.bar
                  div.progress
            div.one.wide.column
              div.time 0:00

      div#dfa-donate-modal.ui.modal(style="min-height:650px;")
        i.close.icon
        div.content
          div.body-text

    block js
      != nap.js('main')
      <div id="fb-root"></div>
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js'); fbq('init', '810448618996739'); fbq('track', "PageView");</script>
      
