doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      block metatags
        meta(property="og:title", content=locals.name)
      meta(property="og:site_name", content="data4america.org")
      meta(property="og:description", content="Bringing Data Science to the understanding of Politics")
      block metaImage
        meta(property="og:image", content="https://data4america.org/img/postcard-front.jpg")

      link(rel='icon', href=contents['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml')
      != nap.css('main')
  body(class=bodyclass)

    div.nothing

    div.dimmed.pusher

      header
        block header

          a#dfa-cover(href="/")

          div#dfa-menu-floating.ui.inverted.icon.right.pointing.dropdown
            i.big.sidebar.icon
            div.menu
              a.item(href="/") All Stories
              a.item(href="/supporters/") Our Supporters
              a.item(href="/sponsorship/") Sponsorships
              a.item(href="/about/") About Data4America
              a.item(href="/unplugged/") Unplugged Podcast
              a.donate.item(href="/donate/") Donate
              a.item(href="/upload/") Submit Content
              a.item(href="http://data.data4america.org/", target="_blank") Submit Data
              a.item(href="http://git.data4america.org/", target="_blank") Submit Software
              a.item(href="/request-government-data") Request Data

          div#dfa-header.ui.borderless.inverted.main.menu.fixed
            div.container
              div.logo.item
                a.logo(href="/")
              a.item(href="/about/") About
              a.item.dfa-btn-subscribe(href="javascript:;") Subscribe
              a.item(href="/") Stories
              div.ui.dropdown.icon.item
                | Menu
                i.big.sidebar.icon
                div.menu
                  a.item(href="/") All Stories
                  a.item(href="/supporters/") Our Supporters
                  a.item(href="/sponsorship/") Sponsorships
                  a.item(href="/about/") About Data4America
                  a.item(href="/unplugged/") Unplugged Podcast
                  a.donate.item(href="/donate/") Donate
                  a.item(href="/upload/") Submit Content
                  a.item(href="http://data.data4america.org/", target="_blank") Submit Data
                  a.item(href="http://git.data4america.org/", target="_blank") Submit Software
                  a.item(href="/request-government-data") Request Data
              div.item.dfa-header-title
              a.item.icon.dfa-header-article-share.fb(data-url=locals.url + (page !== undefined ? page.url : '/'))
                i.icon.facebook
              a.item.icon.dfa-header-article-share.tw(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                i.icon.twitter
              a.item.icon.dfa-header-article-share.em(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                i.icon.mail
              div.right.menu.social-buttons

          div#dfa-slogan Bringing Data Science to the understanding of Politics

          div#dfa-menu.ui.four.item.main.menu
            div.ui.text.container
              a.item(href="/about/") ABOUT
              a.item(href="/donate/", style="color:#CC0505; font-weight:bold;") DONATE
              div.ui.dropdown.item
                | PODCASTS
                i.dropdown.icon(style="margin-left: 0.4em;")
                div.menu
                  a.item(href="/unplugged/episode-2-ramez-naam")
                    img.ui.avatar.image(src="/img/unplugged-rameez.jpg")
                    | Session 1: Ramez Naam
                  a.item(href="/unplugged/episode-3-michael-gibson")
                    img.ui.avatar.image(src="/img/unplugged-michael.jpg")
                    | Session 2: Michael Gibson
                  a.item(href="/unplugged/live-keith-blake")
                    img.ui.avatar.image(src="/img/live-rabois-masters-600.jpg")
                    | Live: Keith Rabois
                  a.item(href="/unplugged/live-scott-kim")
                    img.ui.avatar.image(src="/img/live-weiner-cutler-600.jpg")
                    | Live: Scott Wiener
              div.ui.dropdown.item
                | LIFEMAP
                i.dropdown.icon(style="margin-left: 0.4em;")
                div.menu
                  a.item(href="http://lifemap.io/ben-carson/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/ben-carson.jpg")
                    | Ben Carson
                  a.item(href="http://lifemap.io/berniesanders/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/bernie-sanders.jpeg")
                    | Bernie Sanders
                  a.item(href="http://lifemap.io/donaldtrump/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/donald-trump.jpg")
                    | Donald Trump
                  a.item(href="http://lifemap.io/marcorubio/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/marco-rubio.jpg")
                    | Marco Rubio
                  a.item(href="http://lifemap.io/randpaul/", target="_blank")
                    img.ui.avatar.image(src="https://pbs.twimg.com/profile_images/681152691461042177/_PrgDgFA.jpg")
                    | Rand Paul
                  a.item(href="http://lifemap.io/markcuban/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/mark-cuban.jpg")
                    | Mark Cuban
                  a.item(href="http://lifemap.io/steveballmer/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/steveballmer.png")
                    | Steve Ballmer
                  a.item(href="http://lifemap.io/sherylsandberg/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/sheryl-sandberg.jpg")
                    | Sheryl Sandberg
                  a.item(href="http://lifemap.io/marcbenioff/", target="_blank")
                    img.ui.avatar.image(src="http://lifemap.io/img/marcbenioff.jpg")
                    | Marc Benioff

      div#dfa-subscribe-modal.ui.modal.small
        i.close.icon
        div.content
          div.ui.two.column.grid
            div.column
              h3.ui.header Like us on Facebook
              div.fb-like(data-href='https://www.facebook.com/data4america', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
            div.column
              h3.ui.header Follow us on Twitter
              a.twitter-follow-button(href='https://twitter.com/data4america', data-show-count='true', data-show-screen-name='false') Follow
          div.ui.horizontal.divider OR
          h3.ui.header Send me Data4America stories by email
          div#mc_embed_signup
            form.ui.form.validate#mc-embedded-subscribe-form(action="//data4ameria.us11.list-manage.com/subscribe/post?u=72207b8a0819659d0b69c1f9c&amp;id=219ac0990b" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              div#mc_embed_signup_scroll
                div.field
                  <input type="email" value="" name="EMAIL" placeholder="Your Email Address" class="required email form-control" id="mce-EMAIL">
                div.clear#mce-responses
                  <div class="response text-danger" id="mce-error-response" style="display:none; margin-bottom: 1em"></div>
                  <div class="response text-success" id="mce-success-response" style="display:none; margin-bottom: 1em"></div>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_72207b8a0819659d0b69c1f9c_219ac0990b" tabindex="-1" value=""></div>
                button.ui.button.primary#mc-embedded-subscribe(type="submit" name="subscribe") Subscribe

      div#dfa-content
        div.ui.text.container
          block content
          block footer

      div.ui.container.text(style="margin-bottom:80px;")
        div#dfa-logo-footer

        div#dfa-menu-footer.ui.four.item.main.menu
          a.item(href="/about/") ABOUT
          a.item(href="/donate/") DONATE
          div.ui.dropdown.item
            | PODCASTS
            i.dropdown.icon(style="margin-left: 0.4em;")
            div.menu
              a.item(href="/unplugged/episode-1-greg-ferenstein")
                img.ui.avatar.image(src="/img/unplugged-gregferenstein.jpg")
                | Session 1: Greg Ferenstein
              a.item(href="/unplugged/episode-2-ramez-naam")
                img.ui.avatar.image(src="/img/unplugged-rameez.jpg")
                | Session 2: Ramez Naam
              a.item(href="/unplugged/episode-3-michael-gibson")
                img.ui.avatar.image(src="/img/unplugged-michael.jpg")
                | Session 3: Michael Gibson
          div.ui.dropdown.item
            | LIFEMAP
            i.dropdown.icon(style="margin-left: 0.4em;")
            div.menu
              a.item(href="http://lifemap.io/ben-carson/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/ben-carson.jpg")
                | Ben Carson
              a.item(href="http://lifemap.io/berniesanders/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/bernie-sanders.jpeg")
                | Bernie Sanders
              a.item(href="http://lifemap.io/donaldtrump/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/donald-trump.jpg")
                | Donald Trump
              a.item(href="http://lifemap.io/marcorubio/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/marco-rubio.jpg")
                | Marco Rubio
              a.item(href="http://lifemap.io/randpaul/", target="_blank")
                img.ui.avatar.image(src="https://pbs.twimg.com/profile_images/681152691461042177/_PrgDgFA.jpg")
                | Rand Paul
              a.item(href="http://lifemap.io/markcuban/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/mark-cuban.jpg")
                | Mark Cuban
              a.item(href="http://lifemap.io/steveballmer/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/steveballmer.png")
                | Steve Ballmer
              a.item(href="http://lifemap.io/sherylsandberg/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/sheryl-sandberg.jpg")
                | Sheryl Sandberg
              a.item(href="http://lifemap.io/marcbenioff/", target="_blank")
                img.ui.avatar.image(src="http://lifemap.io/img/marcbenioff.jpg")
                | Marc Benioff

        div.ui.divider

        h3.ui.header(style="line-height: 1.4em; text-align: center;")
          | Help 
          span.d4a Data
            span.f(style="color:#CC0001") 4
            | America 
          |  publish Editorial Board-approved and non-partisan data visualization about politics.
          a.dfa-btn-donate(href="javascript:;") Make a donation.

      div#dfa-footer(style="display:none;")
        h3.ui.header
          a.ui.red.button.donate.dfa-btn-donate Donate 
          span.d4a Help 
            span.footer-blue DATA
            span.footer-red.f 4
            span.footer-blue AMERICA 
            | bring data science to politics.

      div#dfa-unplugged-player
        div.ui.container
          div.ui.grid
            div.nine.wide.column
              div.ui.horizontal.divided.list
                div.item
                  img.ui.avatar.image(src="/img/unplugged-gregferenstein.jpg")
                  div.content
                    div.header Greg Ferenstein
                    div.description Unplugged: Episode #1
            div.one.wide.column
              div.controls
                i.big.icons
                  i.notched.circle.loading.icon.olive
                i.big.lf-play.play.icon.olive
                i.big.lf-pause.pause.icon.olive
            div.five.wide.column
              div.progress-bar
                div.bar
                  div.progress
            div.one.wide.column
              div.time 0:00

      div#dfa-donate-modal.ui.modal(style="min-height:1200px;")
        i.close.icon
        div.content
          div.body-text

      div#dfa-share-modal.ui.small.modal
        i.close.icon
        div.header Share Story
        div.content
          div.description
            div.dfa-share(style="text-align:center;")
              div.container
                a(href='mailto:?subject=' + (page !== undefined ? page.title : locals.name) + '&body=' + encodeURI(locals.url + (page !== undefined ? page.url : '/')))
                  div.ui.grey.email.button
                    i.icon.mail
                    span.text Email
                div.ui.facebook.button(data-url=locals.url + (page !== undefined ? page.url : '/'))
                  i.ui.facebook.icon
                  span.text Share
                - console.log(page);
                div.ui.twitter.button(data-url=locals.url + (page !== undefined ? page.url : '/'), data-text=(page !== undefined ? page.title : locals.name))
                  i.ui.twitter.icon
                  span.text Tweet

              div.container.mobile(style="display:none;")
                div.ui.grey.email.button.circular.icon
                  i.icon.mail
                div.ui.facebook.button.circular.icon
                  i.ui.facebook.icon
                div.ui.twitter.button.circular.icon
                  i.ui.twitter.icon
                a.circular.ui.icon.button.orange(href="javascript:;")
                  i.icon-sms

            h4.ui.header Link:
            div.ui.action.input.fluid
              input#cliptext(type="text", value=locals.url + (page !== undefined ? page.url : '/'))
              button.copy-button.ui.button(data-clipboard-target="#cliptext")
                span Copy

        div.actions
          div.ui.cancel.button Cancel

    block js
      != nap.js('main')
      <div id="fb-root"></div>
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js'); fbq('init', '810448618996739'); fbq('track', "PageView");</script>
