doctype html
block vars
  - var bodyclass = null;
  - var profile = contents.lifemap.json['ben-carson.json'].metadata
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='icon', href=contents['favicon.png'].url)
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml')
      != nap.css('lifemap')
  body(class=bodyclass)


      header
        div.ui.container
          div#lf-logo Lifemap.io

          div#lf-header(data-sr="")
            img.ui.medium.circular.image(src="/lifemap/img/#{profile.image}")
            h1.ui.inverted.header= profile.name
            h2.ui.inverted.header Presidential Candidate 
              span.saperator ·
              |  Republican Party

          span#lf-scroll-down(data-sr="wait 0.5s")
            i.ui.huge.icon.chevron.inverted.down

      - each item in profile.timeline
        section.lf-timeline(style="background-color:#{item.color}; border:1px solid #{item.color};")

          div.ui.container
            div.lf-header(data-sr="wait 0.2s, enter bottom")= item.decade
              | s

            - var chunks = lo.chunk(item.milestones, 3)
            - var cols = {1: 'one', 2: 'two', 3: 'three' }
            - each chunk in chunks
              div.ui.stackable(class=cols[chunk.length] + ' column grid')
                - each milestone, index in chunk
                  div.column
                      div.ui.segment.lf-milestone(data-sr="wait 0.2s, enter left")
                        h4.ui.header= milestone.date
                        p= milestone.text
                        div.lf-icon.left(type=milestone.type, style="border-color:#{item.color};")
                        p(style="text-align: right;")
                          a(href="", target="_blank")
                            i.ui.icon.twitter.large.square(style="color:#0084B4;")
                          a(href="", target="_blank")
                            i.ui.icon.facebook.large.square(style="color:#3B5998;")

      section.lf-timeline.final
        div.overlay
        div.lf-line
        div.ui.container
          div.lf-header(data-sr="wait 0.2s, enter bottom") May 4th, 2015
          div.lf-text(data-sr="wait 0.2s, enter bottom") Launches official bid for Republican Presidential Nomination.
          div.lf-share
            div.ui.equal.width.grid.stackable
              div.column
                div.ui.grey.email.huge.button.fluid(data-url=locals.url + page.url, data-text=page.title,style="border-radius:0;")
                  i.icon.mail
                  span.text Email
              div.column
                div.ui.facebook.huge.fluid.button(data-url=locals.url,style="border-radius:0;")
                  i.ui.facebook.icon
                  span.text Share
              div.column
                div.ui.twitter.fluid.huge.button(data-url=locals.url + page.url, data-text=page.title,style="border-radius:0;")
                  i.ui.twitter.icon
                  span.text Tweet



    block js
      != nap.js('lifemap')
      <div id="fb-root"></div>
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js'); fbq('init', '810448618996739'); fbq('track', "PageView");</script>
