extends layout

block prepend title
  | #{ page.title + ' - '}

block content
  div#dfa-policy-issues.ui.segments
    div.ui.segment.center.aligned
      h1.ui.header POLICY ISSUES
    div.ui.segment.dfa-table
      table.ui.celled.table
        thead
          tr
            th Policy
            th Location
            th Sponsors
        tbody
          - for (key in contents.issue.json)
            - var issue = contents.issue.json[key].metadata
            tr
              td.issue-title
                a(href=issue.url, target="_blank")= issue.name
              td
               h4.ui.header.mobile GEOGRAPHY:
               = issue.geography
              td.sponsors
                h4.ui.header.mobile SPONSORED BY:
                - var sponsor = issue.sponsor
                div.ui.divided.list
                  div.item
                    img.ui.avatar.image(src=sponsor.img)
                    div.content
                      div.header= sponsor.name
                      div
                        if sponsor.twitter
                          a(href=sponsor.twitter, target="_blank")
                            i.ui.icon.twitter(style="color:#0084B4;")
                        if sponsor.linkedin
                          a(href=sponsor.linkedin, target="_blank")
                            i.ui.icon.linkedin(style="color:#0077B5;")
                        if sponsor.www
                          a(href=sponsor.www, target="_blank")
                            i.ui.icon.globe(style="color:#666;")
                        span.saperator ·
                        a.say-thanks(href="javascript:;", data-text=sponsor.thanksText, data-url=issue.url) Say Thanks
