extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Unplugged")

block content
  div
    div#dfa-unplugged-header
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.2em;") A podcast exploring the intersection of government, technology, and the future.

    div#dfa-unplugged
    
      div.podcast(data-url='', data-guest='Bradley Tusk')
        h1.ui.header.title
          | Bradley Tusk
          a(href='https://twitter.com/bradleytusk', target='_blank')
            i.ui.twitter.square.icon(style='color:#00ABF1; margin-right:0px; margin-left:5px;')
        .description
          p.ui.header(style='font-style:italic;')
            | Technology and regulation, basic income, self-driving cars, Bloomberg vs. Kalanick and more.
          p
            span.line
              | Founder and CEO of Tusk Holdings, Campaign Manager for Michael Bloomberg 2009 NYC Mayor, Campaign Manager for Uber vs. NYC in 2011.
          p
            strong Hosted by:
            |  Chris McCoy 
            a(href='https://twitter.com/chrismccoy', target='_blank')
              i.ui.twitter.square.icon(style='color:#00ABF1;')
        a.image(href='/unplugged/live-bradley-tusk')
          img(src='/img/unplugged-bradley-tusk-600.jpg')
    
      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/5.+Kim_Scott.mp3")
        h1.ui.header.title Dr. Sam Wang
        h3.ui.header.sub-title Co-Founder @Princeton Election Consortium
        .description
          p.ui.header(style='font-style:italic;') The future of data science in polling, the 2016 Presidential Election, and more.
          p
            span.line
              | A podcast with Dr. Sam Wang of the Princeton Election Consortium 
              a(href='https://twitter.com/SamWangPhD')
                i.blue.twitter.icon
              | .
          p
            strong Hosted by:
            |  Patrick Ruffini 
            a(href='https://twitter.com/PatrickRuffini', target='_blank')
              i.ui.twitter.square.icon(style='color:#00ABF1;')
            |  Chris McCoy 
            a(href='https://twitter.com/chrismccoy', target='_blank')
              i.ui.twitter.square.icon(style='color:#00ABF1;')
        a.image(href='/unplugged/sam-wang')
          img(src='/img/unplugged-samwang-600.jpg')

    
      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/5.+Kim_Scott.mp3")
        
        h1.ui.header.title
          | Albert Wenger
          a(href='https://twitter.com/albertwenger', target='_blank')
            i.ui.twitter.square.icon(style='color:#00ABF1; margin-right:0px; margin-left:5px;')
            
        div.description
          p.ui.header(style='font-style:italic;') Future of Jobs, Automation, and Basic Income.
          p
            span.line
              | A roundtable discussion with Albert Wenger 
              a(href='https://twitter.com/albertwenger')
                i.blue.twitter.icon
              | , the author of World After Capital and a venture capitalist at Union Square Ventures.
          p
            strong Hosted by:
            |  Kim-Mai Cutler 
            a(href='https://twitter.com/kimmaicutler', target='_blank')
              i.ui.twitter.square.icon(style='color:#00ABF1;')
            
        a.image(href="/unplugged/live-albert-wenger", target="_blank")
          img(src="/img/unplugged-albertwenger-600.jpg")

        h1.ui.header
          a(href='https://www.facebook.com/data4america/videos/1698643560462194/')
            img.ui.tiny.image(style='display:inline-block;', src='/img/facebook-live-logo-colored.png')
            span(style='margin:0 0 0 0.2em;') with Albert Wenger
        
        div.embed
          div.fb-video.fb_iframe_widget.fb_iframe_widget_fluid_desktop(data-href='https://www.facebook.com/data4america/videos/1698643560462194/', data-show-text='false', style='width: 100%;', fb-xfbml-state='rendered', fb-iframe-plugin-query='app_id=170634933274064&container_width=700&href=https%3A%2F%2Fwww.facebook.com%2Fdata4america%2Fvideos%2F1698643560462194%2F&locale=en_US&sdk=joey&show_text=false')
            span(style='vertical-align: bottom; width: 100%; height: 700px;')
              iframe(name='f171ac852e8c1bc', width='1000px', height='1000px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:video Facebook Social Plugin', src='https://www.facebook.com/v2.4/plugins/video.php?app_id=170634933274064&channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FfTmIQU3LxvB.js%3Fversion%3D42%23cb%3Df33f317751ba798%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A8080%252Ff221637340a0a34%26relation%3Dparent.parent&container_width=700&href=https%3A%2F%2Fwww.facebook.com%2Fdata4america%2Fvideos%2F1698643560462194%2F&locale=en_US&sdk=joey&show_text=false', style='border: none; visibility: visible; width: 100%; height: 700px;')
          
    
      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/5.+Kim_Scott.mp3")
        a.image(href="/unplugged/live-gary-johnson")
          img(src="/img/unplugged-garyjohnson-600.jpg")

        h1.ui.header
         a(href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/")
           img(style="display:inline-block;" src="/img/facebook-live-logo-colored.png").ui.tiny.image
           span(style="margin:0 0 0 0.2em;") with Gary Johnson

        div.description
          p
            strong Hosted by:
            |  Chris McCoy
            a(href="https://twitter.com/chrisamccoy", target="_blank")
              i.ui.twitter.square.icon(style="color:#00ABF1;")
              
            |  Cyan Bannister
            a(href="https://twitter.com/cyanbannister", target="_blank")
              i.ui.twitter.square.icon(style="color:#00ABF1;")
        
        div.embed <div class="fb-video" data-href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/" data-show-text="false"><blockquote cite="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/"></a><p>Coming to you LIVE from San Francisco with Data4America talking about my life story!</p>Posted by <a href="https://www.facebook.com/govgaryjohnson/">Gary Johnson</a> on Wednesday, August 31, 2016</blockquote></div>   
    
      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/2.Ramez+Naam2__finalbounce.mp3")
        a.image(href="/unplugged/episode-2-ramez-naam")
          img(src="/img/unplugged-ramez-naam-600.jpg")

        h1.ui.header.title Unplugged: Ramez Naam
          a(href="https://twitter.com/ramez", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")
          a(href="https://www.linkedin.com/in/rameznaam", target="_blank")
            i.ui.linkedin.square.icon(style="margin-right:0px;")
          a(href="http://rameznaam.com/", target="_blank")
            i.ui.world.icon(style="margin-right:0px;")

        h3.ui.header.sub-title Session 1

        div.description <p> <span class="line">Winner of <a href="http://www.philipkdickaward.org/" target="_blank">@Phillip K Dick Award</a>, </span><span class="line">Author <a href="http://rameznaam.com/nexus//" target="_blank">@Nexus trilogy</a>, </span><span class="line">Author <a href="http://www.amazon.com/gp/product/161168255X/ref=as_li_tf_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=161168255X&amp;linkCode=as2&amp;tag=infiniteresource-20" target="_blank">@The Infinite Resource: The Power of Ideas on a Finite Planet.</a>, </span><span class="line">Teacher <a href="http://singularityu.org/" target="_blank">@Singularity U.</a>, </span><span class="line">Energy innovation advocate</span></p><p><strong>Hosted by: </strong> Chris McCoy <a href="https://twitter.com/chrisamccoy" target="_blank"><i style="color:#00ABF1;" class="ui twitter square icon"></i></a><a href="https://www.linkedin.com/in/chrisamccoy" target="_blank"><i class="ui linkedin square icon"></i></a></p><p class="links hidden"><i style="color:#1DA1F2;" class="icon twitter"></i><a href="https://twitter.com/ramez" target="_blank">@ramez</a><span class="space">·</span><i class="icon grey mail"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=mez@morethanhuman.org&amp;su=&amp;body=" target="_blank">mez@morethanhuman.org</a><br><i class="icon orange book"></i><a href="http://rameznaam.com/nexus/" target="_blank">Nexus Trilogy</a><span class="space">·</span><i class="icon orange book"></i><a href="http://www.amazon.com/Infinite-Resource-Power-Finite-Planet/dp/161168255X" target="_blank">The Infinite Resource: The Power of Ideas on a Finite Planet</a><br><i class="icon red bookmark"></i><a href="http://rameznaam.com/2015/07/15/citizens-can-lead-on-climate-change-in-wa-and-then-nationwide/" target="_blank">Citizens Led on Gay Marriage and Pot. We Can on Climate Change Too.</a></p><div class="more-link"><a href="javascript:;"><i class="chevron down icon"></i><span>More Details</span></a></div><p class="approved-by"><i class="red check icon"></i>Approved by the <span class="dfa-text">DATA<span class="f">4</span>AMERICA</span> editorial board on 04/25/16</p>

        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265029163&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-2-ramez-naam#transcript", target="_blank") Read Transcript

      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/3.Michael+Gibson_2.mp3")
        a.image(href="/unplugged/episode-3-michael-gibson")
          img(src="/img/unplugged-michael-gibson-600.jpg")

        h1.ui.header.title Unplugged: Michael Gibson
          a(href="https://twitter.com/william_blake", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")
          a(href="http://www.forbes.com/sites/michaelgibson", target="_blank")
            i.ui.world.icon(style="margin-right:0px;")

        h3.ui.header.sub-title Session 2

        div.description <p> <span class="line">Co-founder and General Partner <a href="http://www.1517fund.com/" target="_blank">@1517 Fund</a>, </span><span class="line">former VP Grants <a href="http://www.thielfoundation.org/" target="_blank">@Thiel Foundation</a>, </span><span class="line">Oxford, </span><span class="line">writer <a href="https://www.technologyreview.com/" target="_blank">@MIT Technology Review</a>, </span><span class="line">poet-philosopher-VC</span></p><p><strong>Hosted by: </strong> Chris McCoy <a href="https://twitter.com/chrisamccoy" target="_blank"><i style="color:#00ABF1;" class="ui twitter square icon"></i></a><a href="https://www.linkedin.com/in/chrisamccoy" target="_blank"><i class="ui linkedin square icon"></i></a></p><p class="links hidden"><i style="color:#1DA1F2;" class="icon twitter"></i><a href="https://twitter.com/william_blake" target="_blank">@william_blake</a><span class="space">·</span><i class="icon grey mail"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=michael@1517fund.com&amp;su=&amp;body=" target="_blank">michael@1517fund.com</a><span class="space">·</span><i class="icon red bookmark"></i><a href="http://www.forbes.com/sites/michaelgibson/#3f15ced663b9" target="_blank">Writings on Forbes</a></p> <div class="more-link"><a href="javascript:;"><i class="chevron down icon"></i><span>More Details</span></a></div>

        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265030389&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/episode-3-michael-gibson#transcript", target="_blank") Read Transcript



      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/4.+Blake_Keith.mp3")
        a.image(href="/unplugged/live-keith-blake")
          img(src="/img/live-rabois-masters-600.jpg")

        h1.ui.header.title LIVE: Keith Rabois
          a(href="https://twitter.com/rabois", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")

        div.description
          p Keith is a tech entrepreneur and venture capitalist Khosla Ventures. He was a part of the early team at PayPal and has held executive positions at Linkedin, Slide, and Square.

          p
            strong Hosted by:
            |  Blake Masters
            a(href="https://twitter.com/bgmasters", target="_blank")
              i.ui.twitter.square.icon(style="color:#00ABF1;")

        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/270271404&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/live-keith-blake#transcript", target="_blank") Read Transcript



      div.podcast(data-url="https://s3-us-west-2.amazonaws.com/media.data4america.org/5.+Kim_Scott.mp3")
        a.image(href="/unplugged/live-scott-kim")
          img(src="/img/live-weiner-cutler-600.jpg")

        h1.ui.header.title LIVE: Scott Wiener
          a(href="https://twitter.com/scott_wiener", target="_blank")
            i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")

        div.description
          p Scott is member of the San Francisco Board of Supervisors and current candidate for the California State Senate.
          p
            strong Hosted by:
            |  Kim-Mai Cutler
            a(href="https://twitter.com/kimmaicutler", target="_blank")
              i.ui.twitter.square.icon(style="color:#00ABF1;")
        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/270272600&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false&amp;color=CF1A1A")
        p(style="text-align: center;")
          a.play-on-d4a(href="javascript:;")
            span.play-on Play on
                span.dfa-text DATA
                  span.f 4
                  | AMERICA
          span.space!='&#183;'
          i.ui.blue.text.file.outline.icon
          a(href="/unplugged/live-scott-kim#transcript", target="_blank") Read Transcript
          
