extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content='Data4America Unplugged: ' + page.metadata.profile.guest)

block metaImage
  meta(property="og:image", content="https://data4america.org" + page.metadata.profile.artwork)

block content
  - var podcast = page.metadata.profile
  div
    div#dfa-unplugged-header
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        !='&nbsp;'
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.2em;") A podcast exploring the intersection of government, technology, and the future.

    div#dfa-unplugged.episode
      div.podcast(data-url=(podcast.mp3 ? podcast.mp3 : ''), data-guest=podcast.guest)
        h1.ui.header.title=podcast.guest
          if podcast.twitter
            a(href='https://twitter.com/' + podcast.twitter, target="_blank")
              i.ui.twitter.square.icon(style="color:#00ABF1; margin-right:0px; margin-left:5px;")
          if podcast.linkedin
            a(href=podcast.linkedin, target="_blank")
              i.ui.linkedin.square.icon(style="margin-right:0px;")
          if podcast.www
            a(href=podcast.www, target="_blank")
              i.ui.world.icon(style="margin-right:0px;")
              
        if podcast.subtitle
          h3.ui.header.sub-title=podcast.subtitle
        if podcast.session
          h3.ui.header.sub-title=podcast.session
          
        if podcast.sponsor  
          a.dfa-sponsor(href='https://www.wired.com/2016/09/gary-johnson-looks-perfectly-ease-vr-headset-face/', target='_blank')
            span AS FEATURED ON
            img.ui.image.small(src='/img/wired-logo.png', alt='Wired')
          
        if podcast.transcriptLink
          a(href="#transcript", style="font-size:1.1em; display:block; margin:1em 0px;")
            i.ui.blue.text.file.outline.icon
            |  Read Transcript
            
        a.image(href=podcast.link)
          img(src=podcast.artwork)
        div.description
          p
            if podcast.desc
              each item, i in podcast.desc
                span.line
                  !=item
                  =(i < (podcast.desc.length - 1) ? ', ' : '')

          if podcast.host
            p
              strong Hosted by:
              !="&nbsp;"
              each host in podcast.host
                =host.name
                !="&nbsp;"
                if host.twitter
                  a(href=host.twitter, target="_blank")
                    i.ui.twitter.square.icon(style="color:#00ABF1;")
                if host.linkedin
                  a(href=host.linkedin, target="_blank")
                    i.ui.linkedin.square.icon
                !="&nbsp;"

          if podcast.moreLinks
            p.links.hidden
              if podcast.twitter
                i.icon.twitter(style="color:#1DA1F2;")
                a(href='https://twitter.com/' + podcast.twitter, target="_blank")='@' + podcast.twitter
              if podcast.email
                span.space!='&#183;'
                i.icon.grey.mail
                a(href='https://mail.google.com/mail/?view=cm&fs=1&to=' + podcast.email + '&su=&body=', target="_blank")=podcast.email
              if podcast.book
                span.space!='&#183;'
                i.icon.orange.book
                a(href=podcast.book.url, target="_blank")=podcast.book.name
              if podcast.articleInline
                span.space!='&#183;'
                i.icon.red.bookmark
                a(href=podcast.articleInline.url, target="_blank")=podcast.articleInline.name
              if podcast.books
                br
                each book, i in podcast.books
                  i.icon.orange.book
                  a(href=book.url, target="_blank")=book.name
                  if i === 0
                    span.space!='&#183;'
              if podcast.article
                br
                i.icon.red.bookmark
                a(href=podcast.article.url, target="_blank")=podcast.article.name

            div.more-link
              a(href="javascript:;")
                i.chevron.down.icon
                span More Details

        if podcast.iframe
          div.embed
            iframe(width="100%", height="110", scrolling="no", frameborder="no", src!=podcast.iframe)

        if podcast.viframe
          h1.ui.header
           a(href=podcast.videoTitle.link)
             img(style="display:inline-block;" src=podcast.videoTitle.image).ui.tiny.image
             span(style="margin:0 0 0 0.2em;")=podcast.videoTitle.text
           
          div.embed <div class="fb-video" data-href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/" data-show-text="false"><blockquote cite="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/govgaryjohnson/videos/10153312003129364/"></a><p>Coming to you LIVE from San Francisco with Data4America talking about my life story!</p>Posted by <a href="https://www.facebook.com/govgaryjohnson/">Gary Johnson</a> on Wednesday, August 31, 2016</blockquote></div>

        if podcast.images
          h1.ui.header Photos from Unplugged
          div.dfa-slider
            each image in podcast.images
              div.dfa-slider-image(style="background-image:url("+ image +");")

        p.media
          if podcast.mp3
            a.play-on-d4a(href="javascript:;")
              span.play-on Play on
                  span.dfa-text DATA
                    span.f 4
                    | AMERICA
          if podcast.itunes
            span.space!='&#183;'
            i.ui.grey.apple.icon
            a(href="", target="_blank") Play on iTunes

        if page.metadata.transcript

          section#transcript-section
            div#dfa-email-wall
              div.overlay
              div.ui.container
                div.ui.segment
                  div.close
                    i.icon.cancel
                  h1.ui.center.aligned.header
                    div.text Share your email to continue reading the full transcript
                  div.ui.middle.aligned.center.aligned.stackable.grid
                    div.eight.wide.column
                      div.lifemap
                        div.font
                          span.dfa-text DATA
                            span.f 4
                            | AMERICA
                    div.eight.wide.column
                      div.ui.fluid.huge.input
                        input(type="text", placeholder="Your email")
                      br
                      button.fluid.ui.orange.huge.button Yes, I want access!
                      div.note You'll never miss another podcast, Lifemap, or original content published by Data4America again
                  a.footer(href="https://data4america.org/donate", target="blank") Donate to support Data4America

            h2.ui.header#transcript Transcript
            - var transcript = page.metadata.transcript
            table.ui.very.basic.table
              tbody
                each item in transcript
                  tr.top.aligned
                    td.disabled.right.aligned= item.time
                    td
                      if item.narrator
                        strong=item.narrator + ': '
                      !=item.text
                      if item.text2
                        br
                        br
                        =item.text2

        if page.metadata.transcript2

          section#transcript-section.two
            h1.ui.header#transcript Transcript
            - var transcript = page.metadata.transcript2

            div.ui.list.section-toc
              each item, index in transcript
                if item.heading
                  div.item
                    i.comment.red.icon
                    div.content
                      a(href='#sec-' + index)=item.heading

            div.ui.items
              each item, index in transcript
                div.item(style="margin:1em 0px;")
                  div.content
                    if item.heading
                      div.ui.header.section-heading(id='sec-' + index)
                        =item.heading
                      if index !== 0
                        a(href="#transcript")
                          i.angle.up.icon
                          |  Back to Top
                    else
                      div.ui.divider
                      div.ui.header.left.aligned(style="font-size:1.5em;display:block")=item.narrator
                      p(style="text-align:left;margin:0px;")=item.time
                      div.description(style="text-align:left;margin:0px;")!=item.text
