extends layout

block prepend title
  | #{ page.title + ' - '}

block metatags
  meta(property="og:title", content="Data4America | Unplugged")

block content
  div
    div#dfa-unplugged-header
      h1.ui.header.center.aligned
        span.dfa-text DATA
          span.f 4
          | AMERICA
        |   
        span(style="font-weight:200;") Un
        span plugged
      p(style="text-align:center; font-size:1.2em;") A podcast exploring the intersection of government, technology, and the future.

    div#dfa-unplugged
      - var podcast = page.metadata.profile
      div.podcast(data-url=(podcast.mp3 ? podcast.mp3 : ''))
        a.image(href=podcast.link)
          img(src=podcast.artwork)
        h1.ui.header.title=podcast.guest
        h3.ui.header.sub-title Session 
          =podcast.session
        div.description
          p 
            each item, i in podcast.desc
              span.line
                =(i > 0 ? '// ' : '')
                !=item
                |  

          p.links
            if podcast.twitter
              i.icon.twitter(style="color:#1DA1F2;")
              a(href='https://twitter.com/' + podcast.twitter, target="_blank")='@' + podcast.twitter
            if podcast.email
              span.space!='&#183;'
              i.icon.grey.mail
              a(href='https://mail.google.com/mail/?view=cm&fs=1&to=' + podcast.email + '&su=&body=', target="_blank")=podcast.email
            if podcast.book
              span.space!='&#183;'
              i.icon.orange.book
              a(href=podcast.book.url, target="_blank")=podcast.book.name
            if podcast.articleInline
              span.space!='&#183;'
              i.icon.red.bookmark
              a(href=podcast.articleInline.url, target="_blank")=podcast.articleInline.name
            if podcast.books
              br
              each book, i in podcast.books
                i.icon.orange.book
                a(href=book.url, target="_blank")=book.name
                if i === 0
                  span.space!='&#183;'
            if podcast.article
              br
              i.icon.red.bookmark
              a(href=podcast.article.url, target="_blank")=podcast.article.name

          p.approved-by
            i.red.check.icon
            | Approved by the 
            span.dfa-text DATA
              span.f 4
              | AMERICA
            |  editorial board on 04/25/16
        div.embed
          iframe(width="100%", height="110", scrolling="no", frameborder="no", src!=podcast.iframe)
        p.links
          if podcast.mp3
            a.play-on-d4a(href="javascript:;")
              span.play-on Play on 
                  span.dfa-text DATA
                    span.f 4
                    | AMERICA
            span.space!='&#183;'
          i.ui.grey.apple.icon
          a(href="", target="_blank") Play on iTunes

        h2.ui.header#transcript Transcript
        - var transcript = page.metadata.transcript
        table.ui.very.basic.table
          tbody
            each item in transcript
              tr.top.aligned
                td.disabled.right.aligned= item.time
                td
                  if item.narrator
                    strong=item.narrator + ': '
                  =item.text
                  if item.text2
                    br
                    br
                    =item.text2


